<li id="answer-<%= answer.id %>" class="question-answer<%= ' bg-warning' if can? :highlight, answer %>">
  <div class="row">
    <div class="col-md-2">
      <%= render 'users/square', user: answer.author %>
    </div>

    <div class="col-md-8">
      <div class="answer-content">
        <%= render_markdown answer.text %>
      </div>

      <div class="answer-details">
        <%= render 'answers/details', answer: answer %>
        <%= render 'answers/editing', answer: answer %>
        <%= render 'answers/deleting', answer: answer %>
      </div>

      <%= render 'answers/evaluations', answer: answer %>
      <%= render 'answers/comments', answer: answer %>
      <%= render 'comments/form', commentable: answer %>
    </div>

    <div class="col-md-2">
      <%= render 'answers/voting', answer: answer %>
      <%= render 'answers/labeling', answer: answer %>
      <%= render 'answers/evaluating', answer: answer %>
    </div>
  </div>
</li>
