<li class="question-answer<%= ' bg-warning' if answer.author.role?(:teacher) %>">
  <div class="row">
    <div class="col-md-2">
      <%= render 'users/square', user: answer.author %>
    </div>

    <div class="col-md-8">
      <div class="answer-content">
        <%= render_markdown answer.text %>
      </div>

      <p class="text-muted">
        <%= answer_creation_time answer %> &middot;
        <%= render 'answers/deleting', answer: answer %>
      </p>

      <br/>

      <%= render 'answers/evaluations', answer: answer %>
      <%= render 'answers/comments', answer: answer %>
      <%= render 'comments/form', commentable: answer %>
    </div>

    <div class="col-md-2">
      <%= render 'answers/voting', answer: answer %>
      <%= render 'answers/labeling', answer: answer %>
      <%= render 'answers/evaluating', answer: answer %>
    </div>
  </div>
</li>
