<li>
  <div class="row">
    <div class="col-md-2">
      <%= render 'users/square', user: answer.author %>
    </div>

    <div class="col-md-8">
      <p class="text-lead">
        <%= answer.text %>
      </p>

      <p class="text-muted">
        <%= answer_creation_time answer %>
      </p>

      <br/>

      <section id="question-evaluations">
        <%= render 'answers/evaluations', answer: answer %>
      </section>

      <section id="question-comments">
        <%= render 'answers/comments', answer: answer %>
        <%= render 'comments/form', commentable: answer %>
      </section>
    </div>

    <div class="col-md-2">
      <%= render 'answers/voting', answer: answer %>
      <%= render 'answers/labeling', answer: answer %>
      <%= render 'answers/evaluating', answer: answer %>
    </div>
  </div>
</li>
