<div class="row">
  <div class="col-md-2">
    <%= render 'users/square', user: answer.author %>
  </div>

  <div class="col-md-8">
    <p class="text-lead">
      <%= answer.text %>
    </p>

    <p class="text-muted">
      <%= answer_creation_time answer %>
    </p>
  </div>

  <div class="col-md-2">
    <%= render 'answers/voting', answer: answer %>
    <%= render 'answers/labeling', answer: answer %>
  </div>
</div>

<hr/>
