<li class="question-answer">
  <div class="row">
    <div class="col-md-2">
      <%= render 'users/square', user: answer.author %>
    </div>

    <div class="col-md-8">
      <div class="answer-content">
        <div class="<%= answer.author.role?(:teacher) ? "col-md-11 bg-warning" : "col-md-11" %>">
          <%= render_markdown answer.text %>
        </div>
        <div class="col-md-1">
          <%= render 'answers/deleting', answer: answer %>
        </div>
      </div>

      <p class="text-muted">
        <%= answer_creation_time answer %>
      </p>

      <br/>

      <%= render 'answers/evaluations', answer: answer %>
      <%= render 'answers/deleting', answer: answer %>
      <%= render 'answers/comments', answer: answer %>
      <%= render 'comments/form', commentable: answer %>
    </div>

    <div class="col-md-2">
      <%= render 'answers/voting', answer: answer %>
      <%= render 'answers/labeling', answer: answer %>
      <%= render 'answers/evaluating', answer: answer %>
    </div>
  </div>
</li>
