<section id="questions-controls">
  <div class="pull-right">
    <% if params[:poll].present? %>
      <%= icon_link_to :refresh, t('question.poll.end', time: tooltip_time_tag(Time.now).html_safe), '#', class: :'btn text-muted', data: { remote: true, state: true, poll: true, rel: questions_path(params) } %>
    <% else  %>
      <%= icon_link_to :refresh, t('question.poll.start'), questions_path(params.merge poll: true), class: :'btn btn-default', data: { remote: true, state: true } %>
    <% end %>
  </div>

  <ul class="nav nav-tabs">
    <%= tab_link_tag_with_count t('question.tab.new'), :'questions-new', questions_path(params.except(:page).merge tab: :'questions-new'), filter_questions(Question).count, remote: true %>
    <%= tab_link_tag_with_count t('question.tab.favored'), :'questions-favored', questions_path(params.except(:page).merge tab: :'questions-favored'), filter_questions(Question.favored).size, remote: true %>
    <%= tab_link_tag_with_count t('question.tab.answered'), :'questions-answered', questions_path(params.except(:page).merge tab: :'questions-answered'), filter_questions(Question.answered).size, remote: true %>
  </ul>
</section>
