<a href="#" data-target="#question-<%= @question.id %>-edit" data-toggle="modal" class="text-muted" id="question-<%= @question.id %>-edit-modal">
  <%= tooltip_icon_tag :'edit', t('question.update.action'), placement: :right %>
</a>

<div class="modal fade" id="question-<%= @question.id %>-edit" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @question  do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t'question.update.title' %></h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :category_id %>
            <%= f.category_collection_select :category_id %>
          </div>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, autofocus: true, class: :'form-control' %>
          </div>
          <div class="form-group">
            <%= markdown_editor_for @question do %>
              <%= f.text_area :text, class: :'form-control', rows: 5 %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :tag_list %>
            <ul id="question-category-tags" class="list-unstyled list-inline"></ul>
            <%= f.text_field :tag_list, class: :'form-control', data: { as: :select2, role: :tags }, placeholder: t('question.tag.placeholder') %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t'edit.cancel' %></button>
          <button type="submit" class="btn btn-primary"><%= t'edit.save' %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
