<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4">
        <span class="question-value">123</span>
        <span class="question-metric"><%= t('question.index.votes') %></span>
      </div>
      <div class="col-md-4">
        <span class="question-value">123</span>
        <span class="question-metric"><%= t('question.index.answers') %></span>
      </div>
      <div class="col-md-4">
        <span class="question-value">123</span>
        <span class="question-metric"><%= t('question.index.views') %></span>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="question-preview">
      <h4>
        <%= link_to question_title_preview(question), question_path(question) %>
      </h4>

      <%= render 'labels', labels: question.labels %>

      <p>
        <%= question_text_preview question %>
      </p>
    </div>
  </div>

  <div class="col-md-2">
    <div class="question-author">
      <small><%= link_to_user question.author %></small>
      <a class="user-avatar" href="<%= user_path question.author.nick %>">
        <%= gravatar_image_tag question.author.gravatar_email, size: 64, class: :'img-circle' %>
      </a>
      <small class="text-muted"><%= question_creation_time question, placement: :bottom %></small>
    </div>
  </div>
</div>

<hr/>
