<li>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-4">
          <%= content_tag :span, class: [:'question-metric', question_votes_coloring(question)] do %>
            <span class="question-value"><%= question.votes_total %></span>
            <%= t('count.vote', count: question.votes_total) %>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to question_path(question, anchor: :'question-answers'), class: [:'question-metric', question_answers_coloring(question)] do %>
            <span class="question-value"><%= question.answers.size %></span>
            <%= t('count.answer', count: question.answers.size) %>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= content_tag :span, class: [:'question-metric', question_views_coloring(question)] do %>
            <span class="question-value"><%= question.views_total %></span>
            <%= t('count.view', count: question.views_total) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="question-preview">
        <h4>
          <%= evaluation_badge_tag question, placement: :bottom if question.evaluations.any? %>
          <%= link_to question_title_preview(question), question_path(question) %>
        </h4>

        <%= render 'questions/labels', labels: question.labels %>

        <p>
          <%= question_text_preview question %>
        </p>
      </div>
    </div>

    <div class="col-md-2">
      <div class="question-author">
        <small><%= link_to_user question.anonymous ? :anonymous : question.author %></small>
        <%= user_avatar_tag question.anonymous ? :anonymous : question.author, size: 64, class: :'img-circle img-responsive' %>
        <small class="text-muted"><%= question_creation_time question, placement: :bottom %></small>
      </div>
    </div>
  </div>
</li>
