
  <% questions.each do |question| %>
      <div style= "border-bottom-style:inset;border-bottom-width:1px;border-spacing:2px;">
        <div >
            <h3 ><%= link_to question.title %></h3>
        </div>
        <div >
          <div class="row">
            <div class="col-md-9">
                <a class="label label-success" style="margin: 3px"  href=#> <%= question.category.name %> </a>
                <%question.tags do |tag| %>
                  <a class="label label-info"  href=#> <%= tag.name %> </a>
                 <% end %>
            </div>
            <div class="col-md-3">
                <span><%= time_ago_in_words(question.created_at) %> </span>
                <a href=#> <%=  question.author.login %> </a>
            </div>
          </div>
        </div>
      </div>
  <% end %>
