
  <% questions.each do |question| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><%= link_to question.title %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
          <div class="col-md-10">
            <span><%= question.text %> </span>
          </div>
            <div class="row">
            <div class="col-md-10">
                <a class="label label-success" style="margin: 3px"  href=#> <%= question.category.name %> </a>
                <a class="label label-info"  href=#> <%= question.tags.name %> </a>
                <span><%question.tags %> </span>
                <%question.tags do |tag| %>
                    <span><%= tag.id %> </span>
                 <% end %>
            </div>
            <div class="col-md-2">
                <span><%= time_ago_in_words(question.created_at) %> </span>
                <a href=#> <%=  question.author.login %> </a>
            </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
