<% provide(:title, 'questions.index') %>

<div class="row">
  <div class="col-md-12">
    <section>
      <div class="page-header">
        <h1><%= t('question.index.title') %></h1>
        <p><%= link_to t('question.index.new'), new_question_path, class: "btn btn-success btn-lg" %></p>
      </div>
      <%= paginate @questions %>
      <ol class="questions">
        <%= render 'questions', questions: @questions %>
      </ol>
      <%= paginate @questions %>
    </section>
  </div>
</div>