<% provide :title, t('question.index.title') %>

<div class="row">
  <div class="col-md-12">
    <section>
      <div class="page-header">
        <h1>
          <%= t 'question.index.title' %>

          <%= icon_link_to :plus, t('question.new.feature'), new_question_path, id: :'new-question', class: 'btn btn-success pull-right' %>
        </h1>
      </div>

      <%= form_tag questions_path(tab: params[:tab]), method: :get, remote: true do %>
        <%= text_field_tag :tags, params[:tags], id: :'question-filter', class: :'form-control', data: { as: :select2, role: [:tags, :filter].join(','), type: :question } %>
      <% end %>

    </section>
  </div>
</div>

<!-- TODO(zbell) add some navigation here: old / new q. etc. -->

<%= render 'questions', questions: @questions %>
