<% provide :title, t('question.new.title') %>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <section>
      <h1 class="form-title"><%= t 'question.new.title' %></h1>

      <%= form_for @question do |f| %>
        <div class="form-group">
          <%= f.label :category_id %>
          <%= f.collection_select :category_id, Category.all, :id, :name, {}, { class: :'form-control', data: { as: :select2 }} %>
        </div>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, autofocus: true, class: :'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :text %>
          <%= f.text_area :text, class: :'form-control', rows: 5 %>
        </div>
        <div class="form-group">
          <%= f.label :tag_list %>
          <%= f.text_field :tag_list, class: :'form-control', data: { as: :select2, role: :tags }, placeholder: t('question.tag.placeholder') %>
        </div>
        <div class="checkbox">
          <%= f.check_box :anonymous %>
          <%= f.label :anonymous %>
        </div>

        <button type="submit" class="btn btn-primary"><%= t 'question.new.submit' %></button>
      <% end %>
    </section>
  </div>
</div>
