<% provide :title, @question.title %>

<section id="question">
  <div class="row">
    <div class="col-md-2">
      <%= render 'users/square', user: @question.anonymous ? :anonymous : @author %>
    </div>

    <div class="col-md-8">
      <section id="question-title">
        <h1>
          <%= @question.title %>
          <%= evaluation_badge_tag @question if @question.evaluations.any? %>
          <br/>
          <small><%= question_creation_time @question %></small>
          <%= render 'questions/deleting', question: @question %>
        </h1>

        <%= render 'questions/labels', labels: @labels %>
      </section>

      <section id="question-content">
        <div class="col-md-11">
          <%= render_markdown @question.text %>
        </div>
        <div class="col-md-1">
          <%= render 'questions/deleting', question: @question %>
        </div>
      </section>

      <section id="question-evaluations">
        <%= render 'questions/evaluations', question: @question %>
      </section>

      <section id="question-comments">
        <%= render 'questions/comments', question: @question %>
        <%= render 'comments/form', commentable: @question %>
      </section>
    </div>

    <div class="col-md-2">
      <%= render 'questions/voting', question: @question %>
      <%= render 'questions/favoring', question: @question %>
      <%= render 'questions/evaluating', question: @question %>
    </div>
  </div>
</section>

<section id="question-answers">
  <%= render 'questions/answers', answers: @answers %>
</section>

<section id="question-new-answer">
  <%= render 'answers/form', question: @question, answer: @answer %>
</section>
