<% provide :title, @question.title %>

<section id="question">
  <div class="row">
    <div class="col-md-2">
      <%= render 'users/square', user: @question.anonymous ? :anonymous : @author %>
    </div>

    <div class="col-md-8">
      <section id="question-title">
        <h1>
          <%= truncate @question.title, length: 140, separator: ' ' %>
          <%= evaluation_badge_tag @question if @question.evaluations.any? %>
        </h1>

        <%= render 'questions/labels', labels: @labels %>
      </section>

      <section id="question-data">
        <div class="question-content">
          <%= render_markdown @question.text %>
        </div>

        <div class="question-details">
          <%= question_creation_time @question %> &middot;
          <%= render 'questions/deleting', question: @question %>
          <%= render 'questions/edit', question: @question if can? :edit, @question %>
          <%= render 'editables/edited', editable: @question %>
        </div>

        <div id="question-evaluations">
          <%= render 'questions/evaluations', question: @question %>
        </div>

        <div id="question-comments">
          <%= render 'questions/comments', question: @question %>
          <%= render 'comments/form', commentable: @question %>
        </div>
      </section>
    </div>

    <div class="col-md-2">
      <%= render 'questions/voting', question: @question %>
      <%= render 'questions/favoring', question: @question %>
      <%= render 'questions/evaluating', question: @question %>
    </div>
  </div>
</section>

<section id="question-answers">
  <%= render 'questions/answers', answers: @answers %>
</section>

<section id="question-new-answer">
  <%= render 'answers/form', question: @question, answer: @answer %>
</section>
