<% provide :title, @question.title %>

<div class="row">
  <div class="col-md-2">
    <section>
      <%= render 'users/square', user: @author %>
    </section>
  </div>

  <div class="col-md-8">
    <section>
      <h1>
        <%= @question.title %>
        <br/>
        <small><%= question_creation_time @question %></small>
      </h1>

      <%= render 'questions/labels', labels: @labels %>
    </section>

    <section>
      <p>
        <%= @question.text %>
      </p>
    </section>
  </div>

  <div class="col-md-2">
    <section>
      <%= render 'questions/voting', question: @question %>
    </section>
  </div>
</div>

<hr/>

<%= render 'questions/answers', answers: @answers %>

<%= render 'answers/form', question: @question, answer: @answer %>
