<div class="row">
  <div class="col-md-2">
    <section>
      <%= render 'users/square', user: @author %>
    </section>
  </div>

  <div class="col-md-8">
    <section>
      <h1>
        <%= @question.title %>
        <br/>
        <small><%= question_creation_time @question %></small>
      </h1>

      <hr/>

      <% if @labels.any? %>
        <%= render 'labels', labels: @labels %>
      <% end %>

      <hr/>

      <p>
        <%= @question.text %>
      </p>
    </section>
  </div>

  <div class="col-md-2">
    <section>
      <%= render 'questions/voting', question: @question %>
    </section>
  </div>
</div>

<%= render 'questions/answers', answers: @answers %>

<%= render 'answers/answer_form' %>

