<div class="row">
  <div class="col-md-2">
    <section>
      <%= render 'users/square', user: @author %>
    </section>
  </div>

  <div class="col-md-8">
    <section>
      <h1>
        <%= @question.title %>
        <small><%= question_creation_time @question %></small>
      </h1>

      <hr/>

      <p>
        <%= @question.text %>
      </p>
    </section>
  </div>

  <div class="col-md-2">
    <section>
      <%= render 'voting', question: @question %>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-10">
    <section>
      <h2>
        <!-- TODO(zbell) add count -->
        <%= t 'question.answers', count: 123 %>
      </h2>

      <hr/>
    </section>
  </div>
</div>


