<div class="row">
  <div class="col-md-2">
    <section>
      <a href="<%= user_path @author.login %>" data-placement="left" data-toggle="tooltip" title="<%= @author.nick %>">
        <%= gravatar_image_tag @author.email, size: 67, class: :'list-group-item img-responsive' %>
      </a>
    </section>
  </div>

  <div class="col-md-8">
    <section>
      <h1>
        <%= @question.title %>
      </h1>

      <hr/>

      <p>
        <%= @question.text %>
      </p>
    </section>
  </div>
  <div class="col-md-offset-2">
  </div>
</div>

<%= render 'answers/answer_form', answer: @answer %>

</div>
