<% provide :title, t('statistic.index.title') %>

<%= form_tag statistics_path, method: :get, class: :'form-horizontal statistics-filter', role: :form do %>
  <div class="form-group">
    <div class="col-md-5">
      <%= select_tag :category, options_for_select(Shared::Category.askable.not_unknown.order(:depth, :full_tree_name).all.collect{ |c| [c.full_tree_name, c.id]}, params[:category]), include_blank: true, class: :'form-control', data: { as: :select2, role: :category } %>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-addon"><%= icon_tag :calendar %></span>
        <%= text_field_tag :from, params[:from], class: :'form-control', data: { as: :datepicker } %>
        <span class="input-group-addon"><%= icon_tag :'long-arrow-right' %></span>
        <%= text_field_tag :to, params[:to], class: :'form-control', data: { as: :datepicker } %>
      </div>
    </div>
    <div class="col-md-3">
      <button type="submit" class="btn btn-default"><%= t('statistic.index.filter') %></button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <p class="help-block">
        <em>
          <%= t('statistic.index.users_included') %>
        </em>
      </p>
    </div>
  </div>
<% end %>


<% if @questions.nil? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-info">
          <%= t('statistic.index.no_filter') %>
        </div>
      </div>
    </div>
<% else %>
    <div class="tab-navigation">
      <ul class="nav nav-tabs">
        <%= tab_link_tag t('statistic.tab.overall'), :overall, statistics_path(params.symbolize_keys.merge tab: :overall), analytics_attributes(:statistic, :switch, :tab) %>
        <%= tab_link_tag t('statistic.tab.users'), :users, statistics_path(params.symbolize_keys.merge tab: :users), analytics_attributes(:statistic, :switch, :users) %>
      </ul>
    </div>

    <div class="tab-content">
      <%= render_tab_content 'overall_stats', :overall, locals: { users: @users, questions: @questions, answers: @answers, tab: :overall } %>
      <%= render_tab_content 'user_stats', :users, locals: { users: @users, questions: @questions, answers: @answers, tab: :users } %>
    </div>
<% end %>