<% provide(:sidebar, true) %>
<% provide(:title, t('news.index.title')) %>

<div class="row">
  <div class="col-xs-12 col-md-9" role="main">
    <h1 class="page-header"><%= yield :title %></h1>

    <p class="lead"><%= t 'news.index.introduction' %></p>

    <%= render 'shared/news/news', news: @news %>
  </div>

  <div class="col-md-3 hidden-xs hidden-sm hidden-print">
    <%= sidebar_tag do %>
      <ul class="nav">
        <% group_news_by_latest(@news).each do |latest, news| %>
          <li>
            <% if news.any? %>
              <ul class="nav">
                <% news.select(&:title).each do |news| %>
                  <li>
                    <%= news.title %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
