<header id="header-navbar" class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <%= navbar_logo_tag default_title %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= navbar_link_tag t('question.navigation'), university.questions_path, active: [university.questions_path, university.search_questions_path] %>
        <%= navbar_link_tag t('group.navigation'), university.groups_path %>
        <%= navbar_link_tag t('category.navigation'), university.categories_path, active: [university.categories_path, university.search_categories_path] %>
        <%= navbar_link_tag t('tag.navigation'), university.tags_path, active: [university.tags_path, university.search_tags_path] %>
        <%= navbar_link_tag t('user.navigation'), university.users_path, class: :'hidden-sm hidden-md', active: [university.users_path, university.search_users_path] %>
        <%= navbar_link_tag t('activity.navigation'), university.activities_path, class: :'hidden-sm hidden-md' %>
        <%= navbar_link_tag t('statistic.navigation'), university.statistics_path, class: :'hidden-sm hidden-md' if user_signed_in? && can?(:observe, :any) %>
        <%= navbar_link_tag t('administration.navigation'), university.administration_root_path, class: :'hidden-sm hidden-md' if user_signed_in? && can?(:administrate, :any) %>
        <%= navbar_link_tag t('help.navigation'), university.help_path, class: :'hidden-sm hidden-md' %>
        <%= navbar_dropdown_tag :'caret-down', nil, '#', class: :'visible-sm visible-md' do %>
          <%= content_tag :li, link_to(t('user.navigation'), university.users_path) %>
          <%= content_tag :li, link_to(t('activity.navigation'), university.activities_path) %>
          <%= content_tag :li, link_to(t('statistic.navigation'), university.statistics_path) if user_signed_in? && can?(:observe, :any) %>
          <%= content_tag :li, link_to(t('administration.navigation'), university.administration_root_path) if user_signed_in? && can?(:administrate, :any) %>
          <li class="divider"></li>
          <%= content_tag :li, link_to(t('help.navigation'), university.help_path) %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <%= render 'university/shared/notifications', notifications: current_user.notifications.unread.order(created_at: :desc).limit(5) %>
          <li class="hidden-xs"><%= link_to current_user.nick, university.user_path(current_user.nick) %></li>
          <%= navbar_dropdown_tag :cog, nil, '#', class: :'hidden-xs' do %>
            <li><%= link_to t('user.edit.profile'), university.edit_user_registration_path(tab: :profile) %></li>
            <li><%= link_to t('user.edit.notifications'), university.edit_user_registration_path(tab: :notifications) %></li>
            <li><%= link_to t('user.edit.social'), university.edit_user_registration_path(tab: :social) %></li>
            <li><%= link_to t('user.edit.privacy'), university.edit_user_registration_path(tab: :privacy) %></li>
            <li><%= link_to t('user.edit.account'), university.edit_user_registration_path(tab: :account) %></li>
            <li class="divider"></li>
            <li><%= link_to t('help.navigation'), university.help_path %></li>
            <li class="divider"></li>
            <li><%= link_to t('user.sign_out'), university.destroy_user_session_path, method: :delete %></li>
          <% end %>
          <%= navbar_link_tag t('user.profile'), university.user_path(current_user.nick), class: :'visible-xs' %>
          <%= navbar_link_tag t('notification.navigation'), university.notifications_path, class: :'visible-xs' %>
          <%= navbar_link_tag t('user.settings'), university.edit_user_registration_path, class: :'visible-xs' %>
          <%= navbar_link_tag t('user.sign_out'), university.destroy_user_session_path, class: :'visible-xs' %>
        <% else %>
          <%= navbar_link_tag t('user.sign_up'), university.new_user_registration_path if University::Configuration.enable.registrations? %>
          <%= navbar_link_tag t('user.sign_in'), university.new_user_session_path %>
        <% end %>
      </ul>
      <div class="navbar-form navbar-right hidden-xs hidden-sm hidden-print">
        <%= icon_link_to :'question-circle', nil, university.new_question_path, analytics_attributes(:question, :'open-new-form', :navigation).deep_merge(tooltip_attributes(t('question.new.feature'), placement: :left).merge(class: 'btn btn-primary new-question')) %>
      </div>
    </div>
  </div>
</header>

<%= yield :header %>
