<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Askalot</h1>
        <p class="text-lead">
          <em><%= t('home.headline') %></em>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline">
          <li>
            <%= icon_link_to :'question-circle', t('home.ask'), new_question_path, id: :'new-question', class: 'btn btn-primary btn-lg' %>
          </li>
          <% unless current_user %>
            <li>
              <% if Configuration.show.registrations? %>
                <%= icon_link_to :rocket, t('home.sign_up'), new_user_registration_path, class: 'btn btn-success btn-lg' %>
              <% else %>
                <%= icon_link_to :rocket, t('home.sign_in'), new_user_session_path, class: 'btn btn-success btn-lg' %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= icon_link_to :comment, t('home.answer'), question_path(@question), id: :'new-question', class: 'btn btn-success btn-lg' %>
            </li>
          <% end %>
         </ul>
      </div>
    </div>
  </div>
</div>
