<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Askalot</h1>
        <p class="text-lead">
          <em><%= t('home.headline') %></em>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="text-right">
          <%= icon_link_to :'question-circle', t('home.ask'), new_question_path, analytics_attributes(:question, :'submit-form', :'ask-question-big-button-landing-page').merge(class: 'btn btn-primary', fixed: true) %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="text-left">
          <% unless current_user %>
            <% if Configuration.enable.registrations? %>
              <%= icon_link_to :rocket, t('home.sign_up'), new_user_registration_path, class: 'btn btn-success', fixed: true %>
            <% else %>
              <%= icon_link_to :rocket, t('home.sign_in'), new_user_session_path, class: 'btn btn-success', fixed: true %>
            <% end %>
          <% else %>
            <% if @question %>
              <%= icon_link_to :comment, t('home.answer'), question_path(@question), analytics_attributes(:question, :'show-form', :'try-answer-question-button').merge(class: 'btn btn-success', fixed: true) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="text-right">
          <%= icon_link_to :tasks, t('home.questions'), questions_path, analytics_attributes(:question, :'show-list', :'questions-path-button-landing-page').merge(class: 'btn btn-info', fixed: true) %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="text-left">
          <%= icon_link_to :magic, t('home.changelogs'), changelogs_path, analytics_attributes(:changelog, :show, :'changelog-button').merge(class: 'btn btn-warning', fixed: true) %>
        </div>
      </div>
    </div>
  </div>
</div>
