<% provide(:sidebar, true) %>
<% provide(:title, t('help.title')) %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9" role="main">
      <h1 class="page-header"><%= yield :title %></h1>
      <p class="lead"><%= t('help.lead') %></p>

      <h2 id="ask-question" class="page-header"><%= t('help.heading.ask_question') %></h2>
      <%= render 'static_pages/help/ask_question' %>

      <h2 id="explore" class="page-header"><%= t('help.heading.explore') %></h2>
      <%= render 'static_pages/help/explore' %>

      <h2 id="answer-question" class="page-header"><%= t('help.heading.answer_question') %></h2>
      <%= render 'static_pages/help/answer_question' %>

      <h2 id="profile" class="page-header"><%= t('help.heading.profile') %></h2>
      <%= render 'static_pages/help/profile' %>

      <h2 id="markdown" class="page-header"><%= t('help.heading.markdown') %></h2>
      <%= render 'static_pages/help/markdown' %>

      <h2 id="reputation" class="page-header"><%= t('help.heading.reputation') %></h2>
      <%= render 'static_pages/help/reputation' %>
    </div>

    <div class="col-md-3 hidden-xs hidden-sm hidden-print">
      <%= sidebar_tag do %>
        <ul class="nav">
          <li>
            <%= link_to t('help.heading.ask_question'), "#ask-question", analytics_attributes(:help, :scroll, :'ask-question') %>
          </li>
          <li>
            <%= link_to t('help.heading.explore'), '#explore', analytics_attributes(:help, :scroll, :'explore') %>
          </li>
          <li>
            <%= link_to t('help.heading.answer_question'), '#answer-question', analytics_attributes(:help, :scroll, :'answer-question') %>
          </li>
          <li>
            <%= link_to t('help.heading.profile'), '#profile', analytics_attributes(:help, :scroll, :'profile') %>
          </li>
          <li>
            <%= link_to t('help.heading.markdown'), '#markdown',  analytics_attributes(:help, :scroll, :'markdown') %>
          </li>
          <li>
            <%= link_to t('help.heading.reputation'), '#reputation',  analytics_attributes(:help, :scroll, :'reputation') %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
