<div id="tags" class="tags tab-content">
  <% unless tags.length.zero? %>
    <div class="row">
      <% tags.each do |tag| %>
        <div class="col-sm-6 col-md-4">
          <h4>
            <%= link_to_tag tag, analytics_attributes(:tag, :click, tag.name) %>
          </h4>
          <div class="tag-details">
            <%= t('count.question', count: tag.questions.in_context(@context_id).size).upcase_first %> <%= tag.questions.in_context(@context_id).size %> &middot;
            <%= t('count.answer', count: tag.questions.in_context(@context_id).map { |q| q.answers.size }.sum).upcase_first %> <%= tag.questions.in_context(@context_id).map { |q| q.answers.size }.sum %> &middot;
            <%= render 'watching', tag: tag %>
          </div>
        </div>
      <% end %>
    </div>

    <% if remote %>
      <%= paginate tags, remote: true, data: { state: true, scroll: :body, fade: '#tags' } %>
    <% else %>
      <%= paginate tags %>
    <% end %>
  <% else %>
    <div class="alert alert-warning">
      <%= t('tag.no_records') %>
    </div>
  <% end %>
</div>
