<%= form_for @news, url: administration_news_index_path(@news), method: :post do |f| %>
  <%= form_messages_for @news %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= markdown_editor_for @news do %>
      <%= f.text_area :description, class: :'form-control markdown-editor-buttons', rows: Shared::Configuration.textarea_rows.general %>
    <% end %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :show %>
      <%= t('administration.news.create.show') %>
    </label>
  </div>

  <button type="submit" class="btn btn-success"><%= t('administration.news.create.action') %></button>
<% end %>
