<li id="comment-<%= comment.id %>" class="comment-teacher<%= ' bg-warning' if comment_highlighted? comment %>">
  <div class="row">
    <div class="col-md-2 hidden-sm hidden-xs">
      <%= render 'shared/users/comments_square', user: comment.author_or_anonymous %>
    </div>

    <div class="col-sm-12 col-md-10 comments-column">
      <div class="comment-content">
        <%= render_markdown comment.text, redcarpet: { tags: [:autolink, :block_quote, :codespan, :double_emphasis, :emphasis, :linebreak, :link, :list, :list_item, :paragraph, :quote, :striketrough, :underline] } %>
      </div>

      <% if comment.attachments.any? %>
        <div class="comment-attachments-section">
          <%= render 'shared/comments/attachments', comment: comment %>
        </div>
      <% end %>

      <div class="comment-details">
        <%= render 'shared/comments/details',  comment: comment %>
        <%= render 'shared/comments/editing',  comment: comment, remote: remote %>
        <%= render 'shared/comments/deleting', comment: comment, remote: remote %>
      </div>
    </div>
  </div>
</li>
