<div class="user-square comments-user-square">
  <%= user_avatar_tag user, image: { class: 'img-circle img-responsive', size: 64 } %>
  <%= render 'shared/users/reputation', user: user, size: :sm %>

  <span class="user-link">
    <%= link_to_user user %>
    <%= render 'shared/users/following', user: user if local_assigns.has_key? :following %>
  </span>

  <span class="user-nick">
    <%= user.name if user != :anonymous && user.show_name? && !user.name.blank? %>
  </span>
</div>
