<% provide :title, t("user.followings.title") %>

<%= render 'shared/users/followings/bar', user: @user %>

<div class="tab-navigation">
  <%= render 'shared/users/actions', user: @user %>

  <ul class="nav nav-tabs">
    <%= tab_link_tag_with_count t('user.tab.followers'), :followers, user_followings_path(params.symbolize_keys.except(:page).merge tab: :followers), @followers.unscope(:limit, :offset).size, analytics_attributes(:profile, :switch, :followers) %>
    <%= tab_link_tag_with_count t('user.tab.followees'), :followees, user_followings_path(params.symbolize_keys.except(:page).merge tab: :followees), @followees.unscope(:limit, :offset).size, analytics_attributes(:profile, :switch, :followees) %>
  </ul>
</div>

<div class="tab-content">
  <%= render_tab_content 'shared/users/followings/followers', :followers, locals: { user: @user, followers: @followers } %>
  <%= render_tab_content 'shared/users/followings/followees', :followees, locals: { user: @user, followees: @followees } %>
</div>
