<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 id="answer" class="form-title"><%= Shared::Answer.human_attribute_name :reaction %></h2>

    <%= form_for [question, answer], html: { multipart: true } do |f| %>
      <%= form_messages_for answer %>

      <div class="form-group">
        <%= markdown_editor_for answer do %>
          <%= f.text_area :text, class: :'form-control markdown-editor-buttons', rows: Shared::Configuration.textarea_rows.answer %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :attachments %>
        <%= file_field_tag "attachments[]", class: :'form-control', type: :file, multiple: true %>
        <div class="help-block"><%= t 'attachment.help_block' %></div>
      </div>

      <button type="submit" class="btn btn-primary pull-left"><%= t 'answer.forum.new.submit' %></button>

      <% if question.original_anonymous_author? current_user %>
        <%= render 'shared/shared/anonymous_checkbox', f: f, checked: true %>
      <% end %>
    <% end %>
  </div>
</div>
