<div id="document-content">
  <a href="<%= document_questions_path(document_id: @document.id) %>" data-remote="true" class="btn btn-sm btn-default">
    <%= icon_tag :list, label: 'Zoznam otázok' %>
  </a>

  <div id="document-question">
    <div class="row">
      <div class="col-xs-9 col-sm-7 col-md-10">
        <div id="question-title">
          <h3 class="question-title">
            <%= @question.title %>
            <%= evaluation_badge_tag @question if @question.evaluations.any? %>
          </h3>
          <%= render 'questions/labels', labels: @labels %>
        </div>

        <div id="question-data">
          <div class="question-content">
            <%= render_markdown @question.text %>
          </div>

          <div class="question-details">
            <%= render 'questions/details', question: @question %>
            <%= render 'documents/questions/editing', question: @question %>
            <%= render 'documents/questions/deleting', question: @question %>
          </div>

          <div id="question-evaluations">
            <%= render 'questions/evaluations', question: @question %>
          </div>

          <div id="question-comments">
            <%= render 'documents/questions/comments', question: @question %>
            <%= render 'documents/comments/form', commentable: @question %>
          </div>
        </div>
      </div>

      <div class="col-xs-3 col-sm-2">
        <%= render 'questions/voting', question: @question %>
        <%= render 'questions/watching', question: @question %>
        <%= render 'documents/questions/evaluating', question: @question, remote: true %>
      </div>
    </div>
  </div>

  <div id="question-answers">
    <%= render 'documents/questions/answers', answers: @answers %>
  </div>

  <div id="question-answer" class="new-answer-form">
    <%= render 'documents/answers/form', question: @question, answer: @answer %>
  </div>
</div>
