<%= render 'user_mailer/header' %>

<h4 class="title">TESTOVACI email - tu bude nadpis, <%= @user.name %></h4>

<p>
  Text z textoveho pola, vlozi sa z formulara.
  <%= @content %>
</p>

<p>
  <span class="text-muted">&middot;</span>
  <%= link_to "Zrušiť odoberanie tzchto emailov", edit_user_registration_path(tab: :notifications) %>
</p>

<%= render 'user_mailer/footer' %>
