<%= form_for resource, as: :user, url: profile_users_path, html: { method: :patch } do |f| %>

  <%= render partial: "input_social_network", locals: {social_network: :facebook, form_field: f, placeholder: "http://www.facebook.com/username"} %>

  <%= render partial: "input_social_network", locals: {social_network: :twitter, form_field: f, placeholder: "http://twitter.com/username"} %>

  <%= render partial: "input_social_network", locals: {social_network: :linkedin, form_field: f, placeholder: "http://www.linkedin.com/li/username"} %>

  <button type="submit" class="btn btn-success"><%= t('user.save_account') %></button>
<% end %>

