<%= form_for resource, as: :user, url: profile_users_path(tab: tab), html: {method: :patch} do |f| %>
  <%= form_messages_for resource, key: tab %>
  <div class="wrap-social">
    <% Social.networks_show.each do |_, network| %>
      <%= render 'social_network_input', form_field: f, network: network %>
    <% end %>

    <a href="#" data-target="#more_social" data-toggle="collapse">
      <%= t('user.more_social') %>
    </a>

    <div id="more_social" class="collapse">
      <% Social.networks_hide.each do |_, network| %>
        <%= render 'social_network_input', form_field: f, network: network %>
      <% end %>
    </div>
  </div>
  <button type="submit" class="btn btn-success"><%= t('user.save_account') %></button>
<% end %>
