<%= form_for resource, as: :user, url: profile_users_path(tab: tab), html: { method: :patch } do |f| %>
  <%= form_messages_for resource, key: tab %>

  <div class="form-group">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <%= f.reversed_check_box :show_name, checked: !resource.show_name %>
        <%= User.human_attribute_name :hide_name %> <%= icon_tag resource.show_name ? :blank : :check %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <%= f.reversed_check_box :show_email, checked: !resource.show_email %>
        <%= User.human_attribute_name :hide_email %> <%= icon_tag resource.show_email ? :blank : :check %>
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-success"><%= t('user.save_account') %></button>
<% end %>
