<%= form_for resource, as: :user, url: profile_users_path, html: { method: :patch } do |f| %>
  <div class="form-group">
    <%= f.label :nick %>
    <%= f.text_field :nick, class: :'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :first %>
    <%= f.text_field :first, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last %>
    <%= f.text_field :last, class: :'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :about %>
    <%= f.text_area :about, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :gravatar_email %>
    <%= f.text_field :gravatar_email, class: :'form-control' %>
  </div>

  <button type="submit" class="btn btn-success"><%= t('user.save_account') %></button>
<% end %>

