<% provide :title, t('user.settings') %>

<div class="row">
  <div class="col-md-offset-1 col-md-3">
    <ul class="nav nav-pills nav-stacked tab-navigation">
      <li class="active">
        <%= link_to (t 'user.profile'), '#user-profile', data: { toggle: :pill } %>
      </li>
      <li><%= link_to (t 'user.social'),  '#user-social',  data: { toggle: :pill } %></li>
      <li><%= link_to (t 'user.privacy'), '#user-privacy', data: { toggle: :pill } %></li>
      <li><%= link_to (t 'user.account'), '#user-account', data: { toggle: :pill } %></li>
    </ul>
  </div>
  <div class="col-md-5">
    <div class="tab-content">
      <div class="tab-pane active" id="user-profile">
        <%= render "edit_profile" %>
      </div>

      <div class="tab-pane" id="user-social">
        <%= render "edit_social" %>
      </div>

      <div class="tab-pane" id="user-privacy">
        <%= render "edit_privacy" %>
      </div>

      <div class="tab-pane" id="user-account">
        <%= render "edit_account" %>
      </div>
    </div>
  </div>
</div>

