<% provide :title, t('user.settings') %>

<div class="row">
  <div class="col-md-offset-1 col-md-3">
    <ul class="nav nav-pills nav-stacked tab-navigation">
      <%= tab_link_tag t('user.profile'), :'user-profile', edit_user_registration_path(tab: :'user-profile'), data: { toggle: :pill } %>
      <%= tab_link_tag t('user.social'),  :'user-social',  edit_user_registration_path(tab: :'user-social'),  data: { toggle: :pill } %>
      <%= tab_link_tag t('user.privacy'), :'user-privacy', edit_user_registration_path(tab: :'user-privacy'), data: { toggle: :pill } %>
      <%= tab_link_tag t('user.account'), :'user-account', edit_user_registration_path(tab: :'user-account'), data: { toggle: :pill } %>
    </ul>
  </div>
  <div class="col-md-5">
    <div class="tab-content">
      <%= tab_content_tag :'user-profile' do %>
        <%= render 'edit_profile' %>
      <% end %>

      <%= tab_content_tag :'user-social' do %>
        <%= render 'edit_social' %>
      <% end %>

      <%= tab_content_tag :'user-privacy' do %>
        <%= render 'edit_privacy' %>
      <% end %>

      <%= tab_content_tag :'user-account' do %>
        <%= render 'edit_account' %>
      <% end %>
    </div>
  </div>
</div>
