<% provide :title, t('user.settings') %>

<div class="row">
  <div class="col-md-offset-1 col-md-3">
    <ul class="nav nav-pills nav-stacked tab-navigation">
      <li class="active"><a href="#user-profile" data-toggle="pill"><%= t :'user.edit_profile' %></a></li>
      <li><a href="#user-social" data-toggle="pill"><%= t :'user.edit_social' %></a></li>
      <li><a href="#user-privacy" data-toggle="pill"><%= t :'user.edit_privacy' %></a></li>
      <li><a href="#user-account" data-toggle="pill"><%= t :'user.edit_account' %></a></li>
    </ul>
  </div>
  <div class="col-md-5">
    <div class="tab-content">
      <div class="tab-pane active" id="user-profile">
        <%= render "edit_profile" %>
      </div>

      <div class="tab-pane" id="user-social">
        <%= render "edit_social" %>
      </div>

      <div class="tab-pane" id="user-privacy">
        <%= render "edit_privacy" %>
      </div>

      <div class="tab-pane" id="user-account">
        <%= render "edit_account" %>
      </div>
    </div>
  </div>
</div>

<!-- TODO (zbell) use modal for confirmation + user must enter login on submit -->
<!--
<section>
  <h2><%= t('user.account_deletion') %></h2>
  <%= button_to t('user.delete_account'), registration_path(resource_name), class: :'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
</section>
-->
