<% provide :title, t('user.registration') %>

<section>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1 class="form-title"><%= yield :title %></h1>

      <%= form_for resource, as: resource_name, role: :form, url: registration_path(resource_name) do |f| %>
        <div class="form-group">
          <%= f.label :login %>
          <%= f.email_field :login, autofocus: true, class: :'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: :'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: :'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: :'form-control' %>
        </div>
        <button type="submit" class="btn btn-success btn-lg"><%= t('user.sign_up') %></button>
      <% end %>
    </div>
  </div>
</section>

<%= render "devise/shared/links" %>
