<div class="wrap-new-comment">
  <a href="#" data-toggle="collapse" data-target="#<%= identify commentable, :comment %>" data-collapse-autofocus="true">
    <%= t('comment.new.action') %>
  </a>

  <div id="<%= identify commentable, :comment %>" class="collapse" data-markdown="true">
    <%= form_for [commentable, Shared::Comment.new], url: Shared::ApplicationController.config.relative_url_root.to_s + engine_url_helpers(commentable).public_send("#{model}_comments_path", commentable, unit_view: true), html: { id: nil, class: :'new-comment' } do |f| %>

      <div id="<%= identify commentable, :comment %>-text" class="form-group">
        <%= f.text_area :text, id: nil, class: :'form-control', rows: 2 %>
      </div>

      <button type="submit" class="btn btn-primary"><%= t 'comment.new.submit' %></button>

      <% if commentable.original_anonymous_author? current_user %>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primitive btn-sm">
            <%= f.check_box :anonymous, checked: true %> <%= Shared::Answer.human_attribute_name :anonymous %> <%= icon_tag :'check-square-o' %>
          </label>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
