<% if activities.any? %>
  <ol class="activities">
    <%= render partial: 'activity', collection: activities, as: :activity %>
  </ol>

  <% if tab == :followees %>
    <div class="activities-note">
      <small class="text-muted"><%= t("activity.note.#{tab.to_s}") %></small>
    </div>
  <% end %>

  <%= paginate activities, params: { tab: tab } %>
<% else %>
  <div class="alert alert-info">
    <%= t('activity.none.global') %>
    <%= t('activity.none.followees') if tab.to_sym == :followees && current_user.followees.none? %>
    <%= t('activity.none.followed_categories') if tab.to_sym == :followed_categories && Shared::Activities::ActivitiesFilter.categories_in_watched_contexts(current_user).empty? %>
  </div>
<% end %>
