<% provide(:title, t('activity.index.title')) %>

<div class="tab-navigation">
  <div class="pull-right">
    <%= link_to t('changelog.navigation'), changelogs_path, class: 'btn btn-link' %>
  </div>

  <ul class="nav nav-tabs">
    <%= tab_link_tag t('activity.tab.global'), :all, activities_path(params.symbolize_keys.except(:page).merge tab: :all), analytics_attributes(:activity, :switch, :global) %>
    <%= tab_link_tag t('activity.tab.followees'), :followees, activities_path(params.symbolize_keys.except(:page).merge tab: :followees), analytics_attributes(:activity, :switch, :followees) %>
    <%= tab_link_tag t('activity.tab.followed_categories'), :followed_categories, activities_path(params.symbolize_keys.except(:page).merge tab: :followed_categories), analytics_attributes(:activity, :switch, :followed_categories) %>
  </ul>
</div>

<div class="tab-content">
  <%= render_tab_content 'activities', :all, locals: { activities: @global, tab: :all } %>
  <%= render_tab_content 'activities', :followees, locals: { activities: @followees, tab: :followees } %>
  <%= render_tab_content 'activities', :followed_categories, locals: { activities: @followed_categories, tab: :followed_categories } %>
</div>
