<a href="#" data-target="#comment-<%= comment.id %>-edit" data-toggle="modal" class="text-muted">
  <%= tooltip_icon_tag :'edit', t('comment.update.action'), placement: :right %>
</a>

<div class="modal fade" id="comment-<%= comment.id %>-edit" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [commentable, comment] do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t'comment.update.title' %></h4>
        </div>
        <div class="modal-body">
          <%= f.text_area :text, id: nil, class: :'form-control', rows: 2 %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t'edit.cancel' %></button>
          <button type="submit" class="btn btn-primary"><%= t'edit.save' %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
