<a href="#" data-target="#<%= identify commentable, :comment %>" data-toggle="collapse">
  <%= t('comment.new.action') %>
</a>

<div id="<%= identify commentable, :comment %>" class="collapse">
  <%= form_for [commentable, comment = Comment.new], html: { id: nil, class: :'new-comment' } do |f| %>
    <div class="form-group">
      <%= markdown_editor_for comment do %>
        <%= f.text_area :text, id: nil, class: :'form-control', rows: 2 %>
      <% end %>
    </div>

    <button type="submit" class="btn btn-primary"><%= t 'comment.new.submit' %></button>
  <% end %>
</div>
