<% if can? :edit, question %>
  &middot;

  <a href="#" id="question-<%= question.id %>-edit-modal" class="text-muted text-undecorated" data-toggle="modal" data-target="#question-<%= question.id %>-editing">
    <%= tooltip_icon_tag :edit, t('question.edit.action'), placement: :top %>
  </a>

  <div id="question-<%= question.id %>-editing" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= form_for question, html: { multipart: true } do |f| %>
          <div class="modal-header">
            <h3 class="modal-title"><%= t 'question.edit.title' %></h3>
          </div>
          <div class="modal-body">
            <% if Shared::QuestionType.public_types.size > 1 %>
              <div class="form-group">
                <%= f.label :question_type_id %>
                <div class="input-group">
                  <span class="input-group-addon">
                    <%= question_type_icon @question.question_type %>
                  </span>
                  <%= f.question_type_collection_select :question_type_id, Shared::QuestionType.public_types %>
                </div>
              </div>

              <div class="question-type-description">
                <%= @question.question_type.description if @question.question_type %>
              </div>
            <% elsif Shared::QuestionType.public_types.present? %>
              <%= f.hidden_field :question_type_id, value: Shared::QuestionType.public_types.first.id %>
            <% end %>

            <div class="form-group">
              <%= f.label :category_id %>
              <%= f.category_collection_select :category_id, askable_leaves_categories(@context_id) %>
            </div>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: :'form-control' %>
            </div>
            <div class="form-group">
              <%= markdown_editor_for @question do %>
                <%= f.text_area :text, class: :'form-control markdown-editor-buttons', rows: 5 %>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :tag_list %>
              <ul id="question-category-tags" class="list-unstyled list-inline"></ul>
              <%= f.text_field :tag_list, class: :'form-control', data: { as: :select2, role: :tags }, placeholder: t('question.tag.placeholder') %>
            </div>
            <div class="form-group">
              <%= f.label :attachments %>
              <%= file_field_tag "attachments[]", class: :'form-control', type: :file, multiple: true %>
              <div class="help-block"><%= t 'attachment.help_block' %></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'question.edit.cancel' %></button>
            <button type="submit" class="btn btn-primary"><%= t 'question.edit.submit' %></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
