<div id="questions-filter" class="questions-filter">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <ul class="list list-inline">
        <li><%= icon_link_to :plus, t('question.new.feature'), shared.new_question_path(category_id: @context_id), analytics_attributes(:questions, :'open-new-form', :list).merge(class: 'btn btn-success') %>
      </ul>
    </div>

    <div id="question-search" class="col-xs-12 col-sm-8 col-md-offset-2 col-md-6">
      <div class="row">
      <div id="fulltext-search" class="col-md-7">
        <%= form_tag shared.search_questions_path, id: :fulltext_search, method: :get do %>
          <%= hidden_field_tag :poll, params[:poll] %>
          <div class="form-group">
            <div class="input-group select2-bootstrap-prepend">
              <div class="input-group-addon">
                <%= tooltip_icon_tag :search, t('question.search.fulltext'), placement: :bottom %>
              </div>
              <%= text_field_tag :q, params[:q], id: :fulltext, class: :'form-control', placeholder: t('question.search.placeholder') %>
              <span class="input-group-btn">
                <%= button_tag t('question.search.submit'), name: nil, id: :'fulltext-search-submit', class: 'btn btn-primary' %>
              </span>
            </div>
          </div>
        <% end %>
      </div>

      <div id="tag-search" class="col-md-5">
        <%= form_tag shared.questions_path, id: :filter_questions, method: :get, remote: true, data: { state: true } do %>
          <%= hidden_field_tag :tab, params[:tab] %>
          <%= hidden_field_tag :poll, params[:poll] %>
          <%= hidden_field_tag :category, params[:category] if params[:category] %>
          <div class="form-group">
            <div class="input-group select2-bootstrap-prepend">
              <div class="input-group-addon">
                <%= tooltip_icon_tag :tags, t('question.search.tags'), placement: :bottom %>
              </div>
              <%= text_field_tag :tags, params[:tags], id: :question_tags, class: :'form-control', placeholder: t('question.tag.placeholder'), data: { as: :select2, role: [:tags, :filter].join(',') } %>
            </div>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>

  <% if category %>
      <div class="row">
        <div class="col-xs-12">
          <h1 class="question-title">
            <%= category.full_public_name if category.full_public_name != 'root' %>
          </h1>
          <div class="category-description">
            <%= category.description %>
          </div>
        </div>
      </div>
  <% end %>
</div>
