<li>
  <div class="row">
    <div class="col-xs-12 col-sm-push-2 col-sm-8 col-md-push-3 col-md-7">
      <div class="question-preview">
        <h4>
          <%= evaluation_badge_tag question, placement: :bottom if question.evaluations.any? %>
          <%= link_to_question question, length: 120 %>
          <%= render 'shared/questions/question_type', question_type: question.question_type %>
        </h4>

        <%= render 'shared/questions/labels', labels: question.labels %>

        <div class="question-content">
          <%= question_text_preview question, length: 250 %>
        </div>
      </div>
    </div>

    <div class="col-xs-8 col-sm-pull-8 col-sm-2 col-md-pull-7 col-md-3">
      <div class="row">
        <div class="col-xs-4 col-sm-12 col-md-4">
          <%= content_tag :span, class: [:'question-metric', question_votes_coloring(question)] do %>
            <span class="question-metric-value"><%= votes_difference(question) %></span>
            <%= t('count.vote', count: question.votes_difference) %>
          <% end %>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-4">
          <%= link_to shared.question_path(question, anchor: :'question-answers'), class: [:'question-metric', question_answers_coloring(question)] do %>
            <span class="question-metric-value"><%= question.answers.size %></span>
            <%= t('count.answer', count: question.answers.size) %>
          <% end %>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-4">
          <%= content_tag :span, class: [:'question-metric', question_views_coloring(question)] do %>
            <span class="question-metric-value"><%= question.views_total %></span>
            <%= t('count.view', count: question.views_total) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2">
      <div class="question-author">
        <small><%= link_to_user question.author_or_anonymous %></small>
        <%= user_avatar_tag question.author_or_anonymous, image: { class: :'img-circle img-responsive', size: 64 }, class: :'hidden-xs' %>
        <%= render 'shared/users/reputation', user: question.author_or_anonymous, size: :sm %>
        <small class="text-muted"><%= tooltip_time_tag question.created_at, format: :normal, placement: :bottom %></small>
      </div>
    </div>
  </div>
</li>
