<div class="question-preview">
  <h4>
    <%= question_type_icon   question.question_type %>
    <%= evaluation_badge_tag question, placement: :bottom if question.evaluations.any? %>
    <%= link_to_question question, length: 120 %>
  </h4>

  <%= render 'shared/questions/labels', labels: question.labels %>

  <div class="question-content">
    <%= question_text_preview question, length: defined?(length) ? length : 250 %>
  </div>
</div>
