<li id="answer-<%= answer.id %>" class="question-answer">
  <div class="row">
    <div class="col-sm-3 col-md-2 hidden-xs">
      <%= render 'shared/users/square', user: answer.author %>
    </div>

    <div class="col-xs-9 col-sm-7 col-md-8">
      <div class="answer-teacher<%= ' bg-warning' if answer_highlighted? answer %>">
        <div class="answer-content">
          <%= render_markdown answer.text %>
        </div>

        <div class="answer-details">
          <%= render 'shared/answers/details', answer: answer %>
          <%= render 'shared/answers/editing', answer: answer %>
          <%= render 'shared/answers/deleting', answer: answer %>
        </div>
      </div>

      <%= render 'shared/answers/evaluations', answer: answer %>
      <%= render 'shared/answers/comments', answer: answer %>
      <%= render 'shared/comments/form', commentable: answer %>
    </div>

    <div class="col-xs-3 col-sm-2">
      <%= render 'shared/answers/voting', answer: answer %>
      <%= render 'shared/answers/evaluating', answer: answer %>
    </div>
  </div>
</li>
