<div class="flash">
  <div class="alert alert-success alert-dismissible">
    <div class="recommendation-feedback">
      <b><%= t("question.recommendation.headline")%></b>
      <%= t("question.recommendation.info")%><br><br>
      <i><%= t("question.recommendation.feedback.info")%></i>
      <br>
      <%= form_for(notification, url: feedback_notification_path(notification), format: :json,
                   method: "post", remote: true, html:{id: "recommendation-feedback-form"}) do |f| %>
          I
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default btn-xs active">
              <%= f.radio_button :feedback_willigness, "1" %>
              &nbsp;would&nbsp;
            </label>
            <label class="btn btn-default btn-xs">
              <%= f.radio_button :feedback_willigness, "0" %>
              &nbsp;wouldn't&nbsp;
            </label>
          </div>
          <%= t("question.recommendation.feedback.willigness")%>
          <br>
          I
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default btn-xs active">
              <%= f.radio_button :feedback_expertise, "1" %>
              &nbsp;have&nbsp;
            </label>
            <label class="btn btn-default btn-xs">
              <%= f.radio_button :feedback_expertise, "0" %>
              &nbsp;haven't&nbsp;
            </label>
          </div>
          <%= t("question.recommendation.feedback.expertise")%>
          <br>
          <%= f.submit("Submit feedback", class: "btn btn-xs btn-success",  onclick: "$('#feedback-thanks').show();") %>
          <span id="feedback-thanks">
                Thank you!
              </span>
          </div>
      <% end %>
      </div>
</div>