<div class="flash">
  <div class="alert alert-success alert-dismissible">
    <div class="recommendation-feedback">
      <b><%= t("question.recommendation.headline")%></b>
      <%= t("question.recommendation.info")%>
      <% if notification.feedback_willigness.nil? && notification.feedback_expertise.nil? %>
          <br><br>
          <i><%= t("question.recommendation.feedback.info")%></i>
          <br>
          <%= form_for(notification, url: feedback_notification_path(notification), format: :json,
                   method: "post", remote: true, html:{id: "recommendation-feedback-form"}) do |f| %>
          I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="btn-default btn-xs radio-inline">
              <%= f.radio_button :feedback_willigness, "1", checked: true %>
              &nbsp;would&nbsp;
            </label>&nbsp;&nbsp;
            <label class="btn-default btn-xs radio-inline">
              <%= f.radio_button :feedback_willigness, "0", checked: false %>
              &nbsp;wouldn't&nbsp;
            </label>
          <%= t("question.recommendation.feedback.willigness")%>
          <br>
          I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="btn-group">
            <label class="btn-default btn-xs radio-inline">
              <%= f.radio_button :feedback_expertise, "1", checked: true %>
              &nbsp;have&nbsp;
            </label>&nbsp;&nbsp;
            <label class="btn-default btn-xs radio-inline">
              <%= f.radio_button :feedback_expertise, "0", checked: false %>
              &nbsp;don't have
            </label>
          </div>
          <%= t("question.recommendation.feedback.expertise")%>
          <br>
          <%= f.submit("Submit feedback", class: "btn btn-xs btn-success",  data: {disable_with: "Submitting..."},
                       onclick: "$('#feedback-thanks').show();") %>
          <span id="feedback-thanks">
                Thank you!
          </span>
          </div>
          <% end %>
      <% end %>
      </div>
</div>
