<% provide :title, t('question.new.title') %>

<div class="row">
  <div class="col-md-6">
    <h1 class="form-title"><%= t 'question.new.title' %></h1>

    <%= form_for @question, html: { multipart: true } do |f| %>
      <%= form_messages_for @question %>

      <% if Shared::QuestionType.public_types.size > 1 %>
        <div class="form-group">
          <%= f.label :question_type_id %>
          <div class="input-group">
            <span class="input-group-addon">
              <%= question_type_icon @question.question_type %>
            </span>
            <%= f.question_type_collection_select :question_type_id, Shared::QuestionType.public_types %>
          </div>
        </div>

        <div class="question-type-description">
          <%= @question.question_type.description if @question.question_type %>
        </div>
      <% elsif Shared::QuestionType.public_types.present? %>
        <%= f.hidden_field :question_type_id, value: Shared::QuestionType.public_types.first.id %>
      <% end %>

      <div class="form-group">
        <%= f.label :category_id %>
        <%= f.category_collection_select :category_id, Shared::Category.where(askable: true, depth: Shared::CategoryDepth.visible_depths.first).visible.not_unknown.unscope(:order).order(:full_public_name), :id, :full_public_name, {grouped: true}, {role: :categories_with_metadata} %>
      </div>

      <div class="category-description">
        <%= @question.category.description if @question.category %>
      </div>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: :'form-control' %>
      </div>

      <div class="form-group">
        <%= markdown_editor_for @question do %>
          <%= f.text_area :text, class: :'form-control markdown-editor-buttons', rows: Shared::Configuration.textarea_rows.question %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :tag_list %>
        <ul id="question-category-tags" class="category-tags nav nav-labels">
          <% if @question.category %>
            <% @question.category.effective_tags.each do |category| %>
              <li>
                <span class="label label-info"><%= category %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
        <%= f.text_field :tag_list, class: :'form-control', data: { as: :select2, role: :tags }, placeholder: t('question.tag.placeholder') %>
      </div>

      <div class="form-group">
        <%= f.label :attachments %>
        <%= file_field_tag "attachments[]", class: :'form-control', type: :file, multiple: true %>
        <div class="help-block"><%= t 'attachment.help_block' %></div>
      </div>

      <button type="submit" class="btn btn-primary"><%= t 'question.new.submit' %></button>

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primitive btn-sm">
          <%= f.check_box :anonymous %> <%= Shared::Question.human_attribute_name :anonymous %> <%= icon_tag :'square-o' %>
        </label>

        <% if current_user.role?(:teacher) || current_user.role?(:administrator) && Rails.module.university? %>
            <label class="btn btn-primitive btn-sm">
              <%= check_box_tag :slido %> <%= t 'question.new.slido' %> <%= icon_tag :'square-o' %>
            </label>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class="help-side">
      <%= render 'shared/static_pages/help/questions/create_question' %>
    </div>
  </div>
</div>
