<% provide :title, @question.title %>

<div id="question">
  <div class="row">
    <div class="col-sm-3 col-md-2 hidden-xs">
      <%= render 'university/users/square', user: @question.author_or_anonymous %>
    </div>

    <div class="col-xs-9 col-sm-7 col-md-8">
      <div id="question-title">
        <h1 class="question-title">
          <%= @question.title %>
          <%= fa_icon :archive, tooltip_attributes(t 'question.close.closed') if @question.closed %>
          <%= evaluation_badge_tag @question if @question.evaluations.any? %>
        </h1>
        <%= render 'university/questions/labels', labels: @labels %>
      </div>

      <div id="question-data">
        <div class="question-content">
          <%= render_markdown @question.text %>
        </div>

        <div class="question-details">
          <%= render 'university/questions/details', question: @question %>
          <%= render 'university/questions/editing', question: @question %>
          <%= render 'university/questions/deleting', question: @question %>
          <%= render 'university/questions/closing', question: @question %>
        </div>

        <div id="question-evaluations">
          <%= render 'university/questions/evaluations', question: @question %>
        </div>

        <div id="question-comments">
          <%= render 'university/questions/comments', question: @question %>
          <%= render 'university/comments/form', commentable: @question %>
        </div>
      </div>
    </div>

    <div class="col-xs-3 col-sm-2">
      <%= render 'university/questions/voting', question: @question %>
      <%= render 'university/questions/favoring', question: @question %>
      <%= render 'university/questions/watching', question: @question %>
      <%= render 'university/questions/evaluating', question: @question %>
    </div>
  </div>
</div>

<div id="question-answers">
  <%= render 'university/questions/answers', answers: @answers %>
</div>

<div id="same-category">
  <%= render 'university/questions/same_category', question: @question %>
</div>

<div id="question-answer" class="new-answer-form">
  <%= render 'university/answers/form', question: @question, answer: @answer %>
</div>

