<% provide :title, @question.title %>

<% unless @notification.nil? %>
    <div class="flash">
      <div class="alert alert-success alert-dismissible">
        <div class="recommendation-feedback">
          <b><%= t("question.recommendation.headline")%></b>
          <%= t("question.recommendation.info")%><br><br>
          <i><%= t("question.recommendation.feedback.info")%></i>
          <br>
          <%= form_for(@notification, url: feedback_notification_path(@notification), format: :json,
                       method: "post", remote: true, html:{id: "recommendation-feedback-form"}) do |f| %>
              I
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                  <%= f.radio_button :feedback_willigness, "1", checked:true %>
                  &nbsp;would&nbsp;
                </label>
                <label class="btn btn-default">
                  <%= f.radio_button :feedback_willigness, "0", checked:false %>
                  &nbsp;wouldn't&nbsp;
                </label>
              </div>
              <%= t("question.recommendation.feedback.willigness")%>
              <br>
              I
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                  <%= f.radio_button :feedback_expertise, "1", checked:true %>
                  &nbsp;have&nbsp;
                </label>
                <label class="btn btn-default">
                  <%= f.radio_button :feedback_expertise, "0", checked:false %>
                  &nbsp;haven't&nbsp;
                </label>
              </div>
              <%= t("question.recommendation.feedback.expertise")%>
              <br>
              <%= f.submit("Submit feedback", class: "btn btn-success",  onclick: "$('#feedback-thanks').show();") %>
              <span id="feedback-thanks">
                Thank you!
              </span>
            </div>
        <% end %>

      </div>
    </div>
<% end %>



<div id="question">
  <div class="row">
    <div class="col-sm-3 col-md-2 hidden-xs">
      <%= render 'shared/users/square', user: @question.author_or_anonymous %>
    </div>

    <div class="col-xs-9 col-sm-7 col-md-8">
      <div id="question-title">
        <h1 class="question-title">
          <%= html_escape @question.title %>
          <%= question_type_icon @question.question_type %>
          <%= fa_icon :archive, tooltip_attributes(t 'question.close.closed') if @question.closed %>
          <%= evaluation_badge_tag @question if @question.evaluations.any? %>
        </h1>
        <%= render 'shared/questions/labels', labels: @labels %>
      </div>

      <div id="question-data">
        <div class="question-main-content<%= ' bg-warning' if question_highlighted? @question %>">
          <div class="question-content">
            <%= render_markdown @question.text %>
          </div>

          <% if @question.attachments.any? %>
            <div class="question-attachments-section">
              <%= render 'shared/questions/attachments', question: @question %>
            </div>
          <% end %>

          <div class="question-details">
            <%= render 'shared/questions/details', question: @question %>
            <%= render 'shared/questions/editing', question: @question %>
            <%= render 'shared/questions/deleting', question: @question %>
            <%= render 'shared/questions/closing', question: @question %>
          </div>

          <div id="question-evaluations">
            <%= render 'shared/questions/evaluations', question: @question %>
          </div>
        </div>

        <div id="question-comments">
          <%= render 'shared/questions/comments', question: @question %>
          <%= render 'shared/comments/form', commentable: @question %>
        </div>
      </div>
    </div>

    <div class="col-xs-3 col-sm-2">
      <%= render 'shared/questions/voting', question: @question %>
      <%= render 'shared/questions/favoring', question: @question %>
      <%= render 'shared/questions/watching', question: @question %>
      <%= render 'shared/questions/evaluating', question: @question %>
    </div>
  </div>
</div>

<div id="question-answers">
  <%= render 'shared/questions/answers', answers: @answers %>
</div>

<div id="same-category">
  <%= render 'shared/questions/same_category', question: @question %>
</div>

<div id="question-answer" class="new-answer-form">
  <%= render 'shared/answers/form', question: @question, answer: @answer %>
</div>

