<% provide :title, @question.title %>

<% unless @notification.nil? %>
    <%= render 'shared/questions/recommendation_feedback', notification: @notification %>
<% end %>

<div id="question">
  <div class="row">
    <div class="col-sm-3 col-md-2 hidden-xs">
      <%= render 'shared/users/square', user: @question.author_or_anonymous %>
    </div>

    <div class="col-xs-9 col-sm-7 col-md-8">
      <div id="question-title">
        <h1 class="question-title">
          <%= html_escape @question.title %>
          <%= question_type_icon @question.question_type %>
          <%= fa_icon :archive, tooltip_attributes(t 'question.close.closed') if @question.closed %>
          <%= evaluation_badge_tag @question if @question.evaluations.any? %>
        </h1>
        <%= render 'shared/questions/labels', labels: @labels %>
      </div>

      <div id="question-data">
        <div class="question-main-content<%= ' bg-warning' if question_highlighted? @question %>">
          <div class="question-content">
            <%= render_markdown @question.text %>
          </div>

          <% if @question.attachments.any? %>
            <div class="question-attachments-section">
              <%= render 'shared/questions/attachments', question: @question %>
            </div>
          <% end %>

          <div class="question-details">
            <%= render 'shared/questions/details', question: @question %>
            <%= render 'shared/questions/editing', question: @question %>
            <%= render 'shared/questions/deleting', question: @question %>
            <%= render 'shared/questions/closing', question: @question %>
          </div>

          <div id="question-evaluations">
            <%= render 'shared/questions/evaluations', question: @question %>
          </div>
        </div>

        <div id="question-comments">
          <%= render 'shared/questions/comments', question: @question %>
          <%= render 'shared/comments/form', commentable: @question %>
        </div>
      </div>
    </div>

    <div class="col-xs-3 col-sm-2">
      <%= render 'shared/questions/voting', question: @question %>
      <%= render 'shared/questions/favoring', question: @question %>
      <%= render 'shared/questions/watching', question: @question %>
      <%= render 'shared/questions/evaluating', question: @question %>
    </div>
  </div>
</div>

<div id="question-answers">
  <%= render 'shared/questions/answers', answers: @answers %>
</div>

<div id="same-category">
  <%= render 'shared/questions/same_category', question: @question %>
</div>

<div id="question-answer" class="new-answer-form">
  <%= render 'shared/answers/form', question: @question, answer: @answer %>
</div>

