<% provide :title, t('user.locked_account') %>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= flash_messages %>

      <h1 class="form-title"><%= yield :title %></h1>

      <%= form_for resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post } do |f| %>
        <%= form_messages_for resource %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, autofocus: true, class: :'form-control' %>
        </div>

        <button type="submit" class="btn btn-info btn-lg"><%= t('user.unlock_account') %></button>

        <%= render 'university/devise/shared/links' %>
      <% end %>
    </div>
  </div>
</div>
