<li id="answer-<%= answer.id %>" class="question-answer">
  <div class="row">
    <div class="col-xs-9 col-sm-10 col-md-10">
      <div class="answer-teacher<%= ' bg-warning' if answer_highlighted? answer; ' unread-resource' if unread_resource? answer, current_user %>"
           <%= tooltip_attributes_string(t('answer.unread'), placement: :right) if unread_resource? answer, current_user %>>
        <div class="answer-content">
          <%= render_markdown answer.text, page_url: Shared::Context::Manager.context_category.askalot_page_url %>
        </div>

        <% if answer.attachments.any? %>
          <div class="answer-attachments-section">
            <%= render 'shared/answers/attachments', answer: answer %>
          </div>
        <% end %>

        <div class="answer-details">
          <%= render 'mooc/units/answers/details', answer: answer %>
          <%= render 'mooc/units/answers/editing', answer: answer, remote: true %>
          <%= render 'mooc/units/answers/deleting', answer: answer, remote: true %>
        </div>
      </div>

      <%= render 'shared/answers/evaluations', answer: answer %>
      <%= render 'mooc/units/answers/comments', answer: answer, remote: true %>
      <%= render 'mooc/units/comments/form', model: :answer, commentable: answer, remote: true %>
    </div>

    <div class="col-xs-3 col-sm-2">
      <%= render 'shared/answers/voting', answer: answer %>
      <%= render 'shared/answers/labeling', answer: answer %>
      <%= render 'mooc/units/answers/evaluating', answer: answer, remote: false %>
    </div>
  </div>
</li>
