<div id="document-content">
  <h3 id="new-unit-question-title" class="form-title btn btn-success"><%= t 'question.new.title' %></h3>

  <%= form_for question, url: shared.questions_path do |f| %>
    <%= form_messages_for question %>

    <%= f.hidden_field :category_id, value: unit.id %>
    <%= f.hidden_field :unit_view, value: true %>

    <%= f.hidden_field :page_url, value: page_url %>

    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.text_field :category_name, value: unit.name, class: :'form-control', disabled: true %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: :'form-control' %>
    </div>

    <div class="form-group">
      <%= markdown_editor_for question do %>
        <%= f.text_area :text, class: :'form-control', rows: 5 %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :tag_list %>
        <ul id="question-category-tags" class="category-tags nav nav-labels">
          <% if question.category %>
            <% question.category.effective_tags.each do |category| %>
              <li>
                <span class="label label-info"><%= category %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
        <%= f.text_field :tag_list, class: :'form-control', data: { as: :select2, role: :tags }, placeholder: t('question.tag.placeholder') %>
    </div>

    <button type="submit" class="btn btn-primary"><%= t 'question.new.submit' %></button>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primitive btn-sm">
        <%= f.check_box :anonymous %> <%= Shared::Question.human_attribute_name :anonymous %> <%= icon_tag :blank %>
      </label>
    </div>
  <% end %>
</div>
