<div id="new-unit-question-title" class="btn btn-success"><%= t 'question.new.title' %></div>

<%= form_for question, html: { multipart: true }, remote: true, url: shared.questions_path do |f| %>
  <div id="form-messages">
    <%= form_messages_for question %>
  </div>

  <%= f.hidden_field :category_id, value: unit.id %>
  <%= f.hidden_field :unit_view, value: true %>

  <% if Shared::QuestionType.public_types.size > 1 %>
    <div class="form-group">
      <%= f.label :question_type_id %>
      <div class="input-group">
        <span class="input-group-addon">
          <%= question_type_icon @question.question_type %>
        </span>
        <%= f.question_type_collection_select :question_type_id, Shared::QuestionType.public_types %>
      </div>
    </div>

    <div class="question-type-description">
      <%= @question.question_type.description if @question.question_type %>
    </div>
  <% elsif Shared::QuestionType.public_types.present? %>
    <%= f.hidden_field :question_type_id, value: Shared::QuestionType.public_types.first.id %>
  <% end %>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.text_field :category_name, value: unit.full_public_name, class: :'form-control', disabled: true %>
  </div>

  <div class="category-description">
    <%= @question.category.description if @question.category %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= markdown_editor_for question do %>
      <%= f.text_area :text, class: :'form-control markdown-editor-buttons', rows: Shared::Configuration.textarea_rows.question %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list %>
      <ul id="question-category-tags" class="category-tags nav nav-labels">
        <% if question.category %>
          <% question.category.effective_tags.each do |category| %>
            <li>
              <span class="label label-info"><%= category %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
      <%= f.text_field :tag_list, class: :'form-control', data: { as: :select2, role: :tags }, placeholder: t('question.tag.placeholder') %>
  </div>

  <div class="form-group">
    <%= f.label :attachments %>
    <%= file_field_tag "attachments[]", class: :'form-control', type: :file, multiple: true %>
    <div class="help-block"><%= t 'attachment.help_block' %></div>
  </div>

  <button type="submit" class="btn btn-primary"><%= t 'question.new.submit' %></button>

  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primitive btn-sm">
      <%= f.check_box :anonymous %> <%= Shared::Question.human_attribute_name :anonymous %> <%= icon_tag :'square-o' %>
    </label>
  </div>
<% end %>
