<div>
  <a href="<%= mooc.unit_path(id: @question.category.id)%>" class="btn btn-sm btn-default">
    <%= icon_tag :list, label: t('question.list') %>
  </a>

  <div id="question">
    <div class="row">
      <div class="col-xs-9 col-sm-10 col-md-10">
        <div id="question-title">
          <h3 class="question-title">
            <%= @question.title %>
            <%= evaluation_badge_tag @question if @question.evaluations.any? %>
          </h3>
          <%= render 'mooc/units/questions/labels', labels: @question.labels, in_questions_index: false %>
        </div>

        <div id="question-data">
          <div class="question-content">
            <%= render_markdown @question.text, page_url: Shared::Context::Manager.context_category.askalot_page_url %>
          </div>

          <div class="question-details">
            <%= render 'mooc/units/questions/details', question: @question %>
            <%= render 'mooc/units/questions/editing', question: @question, remote: true %>
            <%= render 'mooc/units/questions/deleting', question: @question, remote: true %>
            <%= render 'shared/questions/closing', question: @question %>
          </div>

          <div id="question-evaluations">
            <%= render 'shared/questions/evaluations', question: @question %>
          </div>

          <div id="question-comments">
            <%= render 'mooc/units/questions/comments', question: @question, remote: true %>
            <%= render 'mooc/units/comments/form', model: :question, commentable: @question, remote: true %>
          </div>
        </div>
      </div>

      <div class="col-xs-3 col-sm-2">
        <%= render 'shared/questions/voting', question: @question %>
        <%= render 'shared/questions/watching', question: @question %>
        <%= render 'mooc/units/questions/evaluating', question: @question, remote: false %>
      </div>
    </div>
  </div>

  <div id="question-answers">
    <%= render 'mooc/units/questions/answers', answers: @answers %>
  </div>

  <div id="question-answer" class="new-answer-form">
    <%= render 'mooc/units/answers/form', question: @question, answer: @answer, remote: true %>
  </div>
</div>
