<li id="comment-<%= comment.id %>">
  <div class="comment-content"><%= render_markdown comment.text, redcarpet: { tags: [:autolink, :codespan, :emphasis, :link, :striketrough, :underline] } %></div>
  <%= render 'university/comments/details', comment: comment %>
  <%= render 'university/comments/editing', comment: comment, remote: remote %>
  <%= render 'university/comments/deleting', comment: comment, remote: remote %>
</li>
