<a href="#" id="category-<%= category.id %>-edit-modal" class="text-muted text-undecorated" data-toggle="modal" data-target="#category-<%= category.id %>-editing">
  <%= tooltip_icon_tag :edit, t('admin.category.edit.action'), placement: :top %>
</a>


<div id="category-<%= category.id %>-editing" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for category do |f| %>
        <div class="modal-header">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: :'form-control', rows: 1 %>
          </div>

          <div class="form-group">
            <%= f.label :tags %>
            <%= f.text_field :tags, class: :'form-control' %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'category.edit.cancel' %></button>
            <button type="submit" class="btn btn-primary"><%= t 'category.edit.submit' %></button>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>
