<% provide :title, t('admin.category') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @category do |f| %>
        <%= form_messages_for @category %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_area :name, class: :'form-control', rows: 1 %>
        </div>

        <div class="form-group">
          <%= f.label :tags %>
          <%= f.text_field :tags, class: :'form-control' %>
        </div>

        <button type="submit" class="btn btn-success btn-lg"><%= t('user.sign_up') %></button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <ul class="list-unstyled">
      <% group_categories_by_prefix(@categories).each do |_, group| %>
          <li class="category-group">
            <% group.each_slice(3) do |categories| %>
                <div class="row">
                  <% categories.each do |category| %>
                      <div class="col-md-4">
                        <h4>
                          <%= link_to_category category %>
                        </h4>
                        <div class="question-details">
                          <%= render 'admin/editing_category', category: category %>
                        </div>
                        <% if category %>
                            <% category.tags.each do |category_tag| %>
                                <li>
                                  <span class="label label-info"><%= category_tag %></span>
                                </li>
                            <% end %>
                        <% end %>
                      </div>
                  <% end %>
                </div>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
