<% provide :title, t('admin.settings') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @changelog do |f| %>
        <%= form_messages_for @changelog %>

        <div class="form-group">
          <%= f.label :version %>
          <%= f.text_area :version, class: :'form-control', rows: 1 %>
        </div>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_area :title, class: :'form-control', rows: 1 %>
        </div>

        <div class="form-group">
          <%= f.label :text %>
          <%= f.text_area :text, class: :'form-control', rows: 5 %>
        </div>

        <button type="submit" class="btn btn-success btn-lg"><%= t('user.sign_up') %></button>
    <% end %>
  </div>
</div>
