<% provide :title, t('user.locked_account') %>

<h1 class="form-title"><%= yield :title %></h1>

<%= form_for resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post } do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: :'form-control' %>
  </div>

  <button type="submit" class="btn btn-info btn-lg"><%= t('user.unlock_account') %></button>

  <%= render 'devise/shared/links' %>
<% end %>
