<div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-offset-6 col-md-6">
  <%= form_tag eval("search_#{target}_path"), id: :filter_tags, method: :get do %>
      <%= hidden_field_tag :tab, :results %>
      <div class="form-group">
        <div class="input-group select2-bootstrap-prepend">
          <span class="input-group-addon">
            <%= icon_tag :search, class: 'button-active' %>
          </span>
          <%= text_field_tag :q, params[:q], id: :search_field, class: :'form-control' %>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><%= t('searchables.searching.submit') %></button>
          </span>
        </div>
      </div>
  <% end %>
</div>
