<div class="page-overlay">
  <div class="page-login-msg">
    <strong><%= t('page.to_login.header') %></strong><br/>
    <%= t('page.to_login.description') %><br/>
    <%= t('or') %>
    <a id="login-url" href="<%= @url %>?forced_login=true" target="_parent"><%= t('page.to_login.link') %></a>.
  </div>
</div>
