<% use_container true %>

<div class="dashboard">
  <div class="pull-right">
    <ul class="list list-inline">
      <li class="remove-grid-md">
        <%= icon_link_to 'check-circle-o', t('home.reset_dashboard_time'), shared.reset_dashboard_time_user_path(current_user), class: 'btn btn-default col-xs-12' %>
        <%= icon_link_to 'question-circle', t('home.ask'), shared.new_question_path, class: 'btn btn-primary col-xs-6' %>
        <%= icon_link_to :comment, t('home.answer'), shared.question_path(@question), class: 'btn btn-success col-xs-6' %>
        <%= icon_link_to :tasks, t('home.questions'), shared.questions_path, class: 'btn btn-info col-xs-12' %>
      </li>
    </ul>
  </div>

  <div class="headline">
    <h1>Askalot</h1>

    <p><%= t 'home.headline' %></p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p class="dashboard-description"><%= t('home.dashboard.description', date: l(current_user.dashboard_last_sign_in_at, format: :dashboard)).html_safe %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="links row">
          <%= dashboard_link 'question-circle fa-fw', @new_questions, t('home.dashboard.new_questions'), questions_path(from_dashboard: 'new_questions'), 'link-icon-questions' %>
          <%= dashboard_link 'question-circle  fa-fw', @new_questions_watched, t('home.dashboard.new_questions_in_watched_categories'), questions_path(from_dashboard: 'new_questions_in_watched_categories'), 'link-icon-questions-followed' %>

          <%= dashboard_link 'exclamation-circle fa-fw', @new_answers, t('home.dashboard.new_answers'), questions_path(from_dashboard: 'new_answers'), 'link-icon-answers' %>
          <%= dashboard_link 'exclamation-circle fa-fw', @new_answers_watched, t('home.dashboard.new_answers_in_watched_categories'), questions_path(from_dashboard: 'new_answers_in_watched_categories'), 'link-icon-answers-followed' %>

          <%= dashboard_link 'comments-o fa-fw', @new_comments, t('home.dashboard.new_comments'), questions_path(from_dashboard: 'new_comments'), 'link-icon-comments' %>
          <%= dashboard_link 'comments-o fa-fw', @new_comments_watched, t('home.dashboard.new_comments_in_watched_categories'), questions_path(from_dashboard: 'new_comments_in_watched_categories'), 'link-icon-comments-followed' %>
        </div>
    </div>

    <div class="col-md-6">
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="<%= active_tab_class(@news, current_user, :activites) %>">
            <a href="#activities" aria-controls="activities" role="tab" data-toggle="tab"><%= t 'home.dashboard.activities' %></a>
          </li>
          <li role="presentation" class="<%= active_tab_class(@news, current_user, :news) %>">
            <a href="#news" aria-controls="news" role="tab" data-toggle="tab"><%= t 'home.dashboard.news' %>
              <% if @news.first && current_user.dashboard_last_sign_in_at < @news.first.created_at %>
                  <div class="label label-success label-new-news">
                    <%= t('home.dashboard.more_new_news') %>
                  </div>
              <% end %>
            </a>

          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane <%= active_tab_class(@news, current_user, :activites) %>" id="activities">
            <%= render 'shared/static_pages/dashboard/activities', activities: @activities %>
            <br>
            <%= link_to t('home.dashboard.show_activities'), activities_path %>
          </div>

          <div role="tabpanel" class="tab-pane <%= active_tab_class(@news, current_user, :news) %>" id="news">
            <%= render 'shared/static_pages/dashboard/news', news: @news %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
