<div class="row">
  <div class="col-md-10">
    <h4 id="answer" class="form-title"><%= Shared::Answer.human_attribute_name :text %></h4>

    <%= form_for [question, answer], url: shared.question_answers_path(question_id: question.id), remote: remote, html: { multipart: true } do |f| %>
      <%= form_messages_for answer %>

      <%= hidden_field_tag :question_id, @question.id %>

      <div class="form-group">
        <%= markdown_editor_for answer do %>
          <%= f.text_area :text, class: :'form-control', rows: 5 %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :attachments %>
        <%= file_field_tag "attachments[]", class: :'form-control', type: :file, multiple: true %>
        <div class="help-block"><%= t 'attachment.help_block' %></div>
      </div>

      <button type="submit" class="btn btn-primary"><%= t 'answer.new.submit' %></button>

      <% if question.original_anonymous_author? current_user %>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primitive btn-sm">
            <%= f.check_box :anonymous, checked: true %> <%= Shared::Answer.human_attribute_name :anonymous %> <%= icon_tag :'check-square-o' %>
          </label>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
