<div class="introducing jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= default_title %></h1>
        <p class="text-lead">
          <em><%= t('home.headline') %></em>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="text-right">
          <%= icon_link_to :'question-circle', t('home.ask'), new_question_path, analytics_attributes(:question, :'open-new-form', :home).merge(class: 'btn btn-primary', fixed: true, target: target) %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="text-left">
          <% unless current_user %>
            <% if University::Configuration.enable.registrations? %>
              <%= icon_link_to :rocket, t('home.sign_up'), new_user_registration_path, analytics_attributes(:user, :register, :home).merge(class: 'btn btn-success', fixed: true, target: target) %>
            <% else %>
              <%= icon_link_to :rocket, t('home.sign_in'), new_user_session_path, analytics_attributes(:user, :'sign-in', :home).merge(class: 'btn btn-success', fixed: true, target: target) %>
            <% end %>
          <% else %>
            <% if @question %>
              <%= icon_link_to :comment, t('home.answer'), question_path(@question), analytics_attributes(:answer, :'open-highlighted-question', :home).merge(class: 'btn btn-success', fixed: true, target: target) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="text-right">
          <%= icon_link_to :tasks, t('home.questions'), questions_path, analytics_attributes(:questions, :list, :home).merge(class: 'btn btn-info', fixed: true, target: target) %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="text-left">
          <%= icon_link_to :magic, t('home.activities'), activities_path, analytics_attributes(:activities, :list, :home).merge(class: 'btn btn-warning', fixed: true, target: target) %>
        </div>
      </div>
    </div>
  </div>
</div>
