<%= form_for @changelog, url: [:administration, @changelog] do |f| %>
  <%= form_messages_for @changelog %>

  <div class="form-group">
    <%= f.label :version %>
    <%= f.text_field :version, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= markdown_editor_for @changelog do %>
      <%= f.text_area :text, class: :'form-control markdown-editor-buttons', rows: 5 %>
    <% end %>
  </div>

  <button type="submit" class="btn btn-success"><%= t('administration.changelog.create.action') %></button>
<% end %>
