<div id="<%= id %>" data-markdown="true">
  <div class="row">
    <div class="col-xs-<%= help ? 5 : 12 %>">
      <label><%= text ? text : t('markdown.text') %></label>
    </div>

    <% if help %>
      <div class="col-xs-7">
        <div class="markdown-help">
          <%= t('markdown.documentation', link: link_to('Markdown', shared.help_path(anchor: :markdown), analytics_attributes(:markdown, :help))).html_safe %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="<%= id %>-text" class="markdown-output" ><%= content.call %></div>

  <span class="markdown-preview-text"><%= t('markdown.preview') %></span>

  <div id="<%= id %>-preview" class="markdown-preview markdown-output"><div class="form-control"></div></div>
</div>
