<% provide :title, t('notification.index.title') %>

<ul class="nav nav-tabs tab-navigation">
  <li class="active"><%= link_to t('notification.navigation'), notifications_path %></li>
  <li><%= link_to t('watching.navigation'), watchings_path %></li>
</ul>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked pill-navigation">
      <%= tab_link_tag_with_count t('notification.tab.unread'), :unread, notifications_path(tab: :unread), badge_tag(Notification.for(current_user).unread.size, class: :'pull-right'), data: { toggle: :pill } %>
      <%= tab_link_tag_with_count t('notification.tab.all'), :all, notifications_path(tab: :all), badge_tag(Notification.for(current_user).size, class: :'pull-right'), data: { toggle: :pill } %>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="pill-content tab-content">
      <%= render_tab_content 'notifications', :unread, locals: { notifications: @unread } %>
      <%= render_tab_content 'notifications', :all, locals: { notifications: @all } %>
    </div>
  </div>
</div>
