<div id="groups" class="row">
  <% if groups.any? %>
    <% groups.each do |group| %>
      <div class="col-md-4">
        <h4>
          <%= link_to group.title, group_path(group), analytics_attributes(:group, :click, group.title) %>
        </h4>
        <div class="group-details">
          <%= group.description %> </br>
          <%= t('count.document', count: group.documents.size).upcase_first %> <%= group.documents.size %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-warning">
      <%= t('group.index.no_results_found') %>
    </div>
  <%end %>
</div>
