<% provide :title, t('group.index.title') %>

<div class="group-description">
  <div class="row">
    <div class="col-md-6">
      <%= render 'static_pages/groups/about' %>
    </div>
    <div class="col-md-6">
      <%= render 'static_pages/groups/usage' %>
    </div>
  </div>
</div>

<div class="pull-right">
  <%= render 'form' %>
</div>

<ul class="nav nav-tabs tab-navigation">
  <%= tab_link_tag t('group.tab.all'), :all, groups_path(params.except(:page).merge tab: :all), analytics_attributes(:groups, :switch, :all) %>
</ul>

<ul class="tab-content">
  <%= render_tab_content 'groups', :all, locals: { groups: @groups } %>
</ul>
