<% if favorites.any? %>
  <ol class="user-favorites">
    <% favorites.each do |favorite| %>
      <%= render 'users/question', question: favorite %>
    <% end %>
  </ol>

  <div class="row">
    <div class="col-md-12">
      <%= paginate favorites, params: { tab: :favorites } %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <% if @user == current_user %>
        <span class="text-muted"><%= t('user.show.no_favorites') %></span>
        <%= icon_link_to :tasks, t('user.show.browse'), questions_path, class: 'btn btn-success' %>
      <% else %>
        <div class="alert alert-info">
          <%= t('user.show.other.no_favorites') %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
