<p>
  <%= t('user.registered_at') %>
  <%= tooltip_time_tag user.created_at, format: :normal, placement: :bottom %><%= ',' if user.last_sign_in_at %>
  <% if user.last_sign_in_at %>
    <%= t('user.last_sign_in_at').downcase_first %> <%= tooltip_time_tag user.last_sign_in_at, format: :normal, placement: :bottom %>
  <% end %>
</p>

<hr/>

<% unless user.about.blank? %>
  <%= render_markdown user.about %>
<% end %>
