<li>
  <div class="row">
    <div class="col-md-4">
      <div class="row user-profile-metrics">
        <div class="col-md-3">
          <%= content_tag :span, class: [:'question-metric', question_votes_coloring(question)] do %>
            <span class="question-value"><%= question.favorites.size %></span>
            <%= t('count.favorite', count: question.favorites.size) %>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= content_tag :span, class: [:'question-metric', question_votes_coloring(question)] do %>
            <span class="question-value"><%= question.votes_difference %></span>
            <%= t('count.vote', count: question.votes_difference) %>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= link_to question_path(question, anchor: :'question-answers'), class: [:'question-metric', question_answers_coloring(question)] do %>
            <span class="question-value"><%= question.answers.size %></span>
            <%= t('count.answer', count: question.answers.size) %>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= content_tag :span, class: [:'question-metric', question_views_coloring(question)] do %>
            <span class="question-value"><%= question.views_total %></span>
            <%= t('count.view', count: question.views_total) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="question-preview">
        <h4>
          <%= link_to question_title_preview(question), question_path(question) %>
        </h4>

        <%= render 'questions/labels', labels: question.labels %><small class="text-muted">
        <%= tooltip_time_tag question.created_at, format: :normal, placement: :bottom %></small>
      </div>
    </div>
  </div>
</li>
