<li>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-3">
          <%= content_tag :span, class: [:'question-metric', question_votes_coloring(question)] do %>
              <% if question.favorites.size > 0 %>
                  <span class="question-value"><%= icon_tag :'star-o' %></span>
                  <%= question.favorites.size %>
              <% end %>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= content_tag :span, class: [:'question-metric', question_votes_coloring(question)] do %>
              <span class="question-value"><%= question.votes_difference %></span>
              <%= t('count.vote', count: question.votes_difference) %>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= link_to question_path(question, anchor: :'question-answers'), class: [:'question-metric', question_answers_coloring(question)] do %>
              <span class="question-value"><%= question.answers.size %></span>
              <%= t('count.answer', count: question.answers.size) %>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= content_tag :span, class: [:'question-metric', question_views_coloring(question)] do %>
              <span class="question-value"><%= question.views_total %></span>
              <%= t('count.view', count: question.views_total) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="question-preview">
        <h4>
          <%= evaluation_badge_tag question, placement: :bottom if question.evaluations.any? %>
          <%= link_to question_title_preview(question), question_path(question) %>
        </h4>

        <%= render 'questions/labels', labels: question.labels %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="question-author">
        <small class="text-muted"><%= question_creation_time question, placement: :bottom %></small>
      </div>
    </div>
  </div>
</li>