<div class="user-square">
<!-- TODO(zbell) is tooltip neccessary?
  <a class="user-avatar" href="<%= user_path user.nick %>" data-placement="left" data-toggle="tooltip" title="<%= user.nick %>">
-->
  <a class="user-avatar" href="<%= user_path user.nick %>">
    <%= gravatar_image_tag user.gravatar_email, size: 96, class: :'img-circle' %>
  </a>

  <span>
    <%= link_to_user user %>
  </span>

  <% if user.flag_show_name? && !user.name.blank? %>
    <span>
      <%= user.name %>
    </span>
  <% end %>
</div>
