<div class="user-square">
  <% if user.nil? %>

    <a class="user-avatar" href="">
    </a>

    <span>
      Anonym
    </span>

  <% else %>

    <!-- TODO(zbell) is tooltip neccessary?
      <a class="user-avatar" href="<%= user_path user.nick %>" data-placement="left" data-toggle="tooltip" title="<%= user.nick %>">
    -->

    <a class="user-avatar" href="<%= user_path user.nick %>">
      <%= gravatar_image_tag user.gravatar_email, size: 96, class: :'img-circle img-responsive' %>
    </a>

    <span>
      <%= link_to_user user %>
    </span>

    <% if user.show_name? && !user.name.blank? %>
      <span>
        <%= user.name %>
      </span>
    <% end %>

  <% end %>
</div>
