<% provide :title, @user.nick %>

<div class="row">
  <div class="col-md-3">
    <%= render 'users/profile/side', user: @user %>
  </div>
  <div class="col-md-9">
    <div class="tab-navigation">
      <%= render 'users/actions', user: @user %>

      <ul class="nav nav-tabs">
        <%= tab_link_tag t('user.tab.profile'), :profile, user_path(params.except(:page).merge tab: :profile) %>
        <%= tab_link_tag_with_count t('user.tab.questions'), :questions, user_path(params.except(:page).merge tab: :questions), @questions.unscope(:limit).size %>
        <%= tab_link_tag_with_count t('user.tab.answers'), :answers, user_path(params.except(:page).merge tab: :answers), @answers.unscope(:limit).size %>
        <%= tab_link_tag_with_count t('user.tab.favorites'), :favorites, user_path(params.except(:page).merge tab: :favorites), @favorites.unscope(:limit).size %>
        <%= tab_link_tag_with_count t('user.tab.activities'), :activity, user_path(params.except(:page).merge tab: :activity), @activities.unscope(:limit).size %>
      </ul>
    </div>

    <div class="tab-content">
      <%= render_tab_content 'users/profile/home', :profile, locals: { user: @user } %>
      <%= render_tab_content 'users/profile/questions', :questions, locals: { user: @user, questions: @questions } %>
      <%= render_tab_content 'users/profile/answers', :answers, locals: { user: @user, answers: @answers } %>
      <%= render_tab_content 'users/profile/favorites', :favorites, locals: { user: @user, favorites: @favorites } %>
      <%= render_tab_content 'activities/activities', :activity, locals: { activities: @activities } %>
    </div>
  </div>
</div>
