<%# TODO (smolnar) refactor to use locales %>

<div class="row">
  <div class="col-md-3">
    <form class="form-horizontal" role="form">
      <ul class="list-group">
        <li class="list-group-item">
          <%= gravatar_image_tag @user.email, size: :'230', class: :'img-responsive' %>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-envelope"></span>
          <a class="email js-obfuscate-email" href="mailto:<%= @user.email %>"> <%= @user.email %></a>
        </li>
        <li class="list-group-item">
          <span class=" icon-facebook"></span>
          <a class="facebook" href="<%= @user.facebook %>"> Facebook/<%= @user.first %> </a>
        </li>
        <li class="list-group-item">
          <span class=" icon-twitter"></span>
          <a class="twitter" href="<%= @user.twitter %>"><%= @user.twitter %></a>
        </li>
      </ul>

    </form>
  </div>
  <div class="col-md-4">
        <h2 class="media-heading">  <%= @user.login %>
          <small><%= @user.first %> <%= @user.middle %> <%= @user.last %></small>
        </h2>
        <hr style="margin:8px auto">
    <p>
      <b>O mne:</b><br>
       <%= @user.about %>
      bla bla bla
    </p>

  </div>
</div>
