<% provide :title, @user.nick %>

<div class="row">
  <div class="col-md-3">
    <%= render 'side', user: @user %>
  </div>
  <div class="col-md-9">
    <div class="tab-navigation">
      <% if can? :edit, @user %>
        <div class="pull-right">
          <%= link_to t('user.show.edit'), edit_user_registration_path, class: 'btn btn-default' %>
        </div>
      <% else %>
        <div class="pull-right">
          <%= render 'users/following_profile', followee: @user %>
        </div>
      <% end %>

      <ul class="nav nav-tabs">
        <%= tab_link_tag t('user.tab.profile'), :profile, user_path(params.except(:page).merge tab: :profile) %>
        <%= tab_link_tag_with_count t('user.tab.questions'), :questions, user_path(params.except(:page).merge tab: :questions), @questions.unscope(:limit).size %>
        <%= tab_link_tag_with_count t('user.tab.answers'), :answers, user_path(params.except(:page).merge tab: :answers), @answers.unscope(:limit).size %>
        <%= tab_link_tag_with_count t('user.tab.favorites'), :favorites, user_path(params.except(:page).merge tab: :favorites), @favorites.unscope(:limit).size %>
      </ul>
    </div>

    <div class="tab-content">
      <%= render_tab_content 'profile', :profile, locals: { user: @user } %>
      <%= render_tab_content 'questions', :questions, locals: { questions: @questions } %>
      <%= render_tab_content 'answers', :answers, locals: { answers: @answers } %>
      <%= render_tab_content 'favorites', :favorites, locals: { favorites: @favorites } %>
    </div>
  </div>
</div>
