<% provide :title, @user.nick %>

<section>
  <div class="row">
    <div class="col-md-offset-1 col-md-3">
      <div class="list-group">
        <%= gravatar_image_tag @user.gravatar_email, size: 263, class: :'list-group-item img-responsive' %>

        <% if can? :show_email, @user %>
          <span class="list-group-item">
            <%= icon_tag :'envelope-o', fixed: true %>
            <%= mail_to @user.email, nil, encode: :hex %>
          </span>
        <% end %>

        <% @user.urls.each do |network, url| %>
          <span class="list-group-item">
            <%= icon_tag network.icon, fixed: true %>
            <a href="<%= url[:original] %>"><%= url[:shown] %></a>
          </span>
        <% end %>
      </div>
    </div>
    <div class="col-md-7">
      <h1>
        <%= @user.nick %>

        <% if can? :show_name, @user %>
          <small><%= @user.name %></small>
        <% end %>
      </h1>

      <hr/>

      <% if can? :edit, @user %>
        <span class="pull-right">
          <%= link_to t('user.show.edit'), edit_user_registration_path %>
        </span>
      <% end %>

      <% unless @user.about.blank? %>
        <h4><%= t 'user.show.about' %></h4>

        <%= render_markdown @user.about %>
      <% end %>

      <div class="clearfix"></div>
    </div>
  </div>

  <section id="user-profile">
    <ul class="nav nav-tabs">
      <%= tab_link_tag_with_count t('user.tab.all'), :'user-questions', user_path(params.except(:page).merge tab: :'user-questions'), @questions.count %>
      <%= tab_link_tag_with_count t('user.tab.all'), :'user-answers', user_path(params.except(:page).merge tab: :'user-answers'), @answers.count %>
      <%= tab_link_tag_with_count t('user.tab.all'), :'user-favorites', user_path(params.except(:page).merge tab: :'user-favorites'), @favorites.count %>
    </ul>
  </section>

  <div class="col-md-5">
    <div class="tab-content">

      <%= tab_content_tag :'user-questions' do %>
        <% @questions.each do |question| %>
          <p><%= question.title %></p>
        <% end %>

          <div class="row">
            <div class="col-md-12">
              <%= paginate @questions, data: { state: true } %>
            </div>
          </div>
      <% end %>

      <%= tab_content_tag :'user-answers' do %>
          <% @answers.each do |answer| %>
              <p><%= answer.text %></p>
          <% end %>

          <div class="row">
            <div class="col-md-12">
              <%= paginate @answers, data: { state: true } %>
            </div>
          </div>
      <% end %>

      <%= tab_content_tag :'user-favorites' do %>
          <% @favorites.each do |favorite| %>
              <p><%= favorite.title %></p>
          <% end %>

          <div class="row">
            <div class="col-md-12">
              <%= paginate @favorites, data: { state: true } %>
            </div>
          </div>
      <% end %>

    </div>
  </div>



</section>
