<% provide :title, @user.nick %>

<div class="row">
  <div class="col-md-offset-1 col-md-3">
    <section>
      <div class="list-group">
        <%= gravatar_image_tag @user.gravatar_email, size: 263, class: :'list-group-item img-responsive' %>

        <% if @user == current_user || @user.flag_show_email? %>
          <span class="list-group-item">
            <%= icon_tag :'envelope-o', fixed: true %>
            <%= mail_to @user.email, nil, encode: :hex %>
          </span>
        <% end %>

        <% @user.urls.each do |network, url| %>
          <span class="list-group-item">
            <%= icon_tag network.icon, fixed: true %>
            <a href="<%= url[:original] %>"><%= url[:shown] %></a>
          </span>
        <% end %>
      </div>
    </section>
  </div>
  <div class="col-md-7">
    <section>
      <h1>
        <%= @user.nick %>

        <% if (@user == current_user || @user.flag_show_name?) && !@user.name.blank? %>
          <small><%= @user.name %></small>
        <% end %>
      </h1>

      <hr/>

      <% if current_user == @user %>
        <span class="pull-right">
          <%= link_to t('user.show.edit'), edit_user_registration_path %>
        </span>
      <% end %>

      <% unless @user.about.blank? %>
        <h4><%= t 'user.show.about' %></h4>

        <p>
          <%= @user.about %>
        </p>
      <% end %>

      <div class="clearfix"></div>
    </section>
  </div>
</div>
