<%# TODO (smolnar) refactor to use locales %>

<div class="row">
  <div class="col-md-3">
    <form class="form-horizontal" role="form">
      <ul class="list-group">
        <li class="list-group-item">
          <%= gravatar_image_tag @user.email, size: :'230', class: :'img-responsive' %>
        </li>
        <li class="list-group-item">
          <%= icon_tag :'envelope-alt', fixed: true %>
          <a class="email js-obfuscate-email" href="mailto:<%= @user.email %>"> <%= @user.email %></a>
        </li>
        <li class="list-group-item">
          <%= icon_tag :facebook, fixed: true %>
          <a class="facebook" href="<%= @user.facebook %>"> Facebook/<%= @user.first %> </a>
        </li>
        <li class="list-group-item">
          <%= icon_tag :twitter, fixed: true %>
          <a class="twitter" href="<%= @user.twitter %>"><%= @user.twitter %></a>
        </li>
      </ul>
    </form>
  </div>
  <div class="col-md-4">
    <h2 class="media-heading">  <%= @user.login %>
      <small><%= user_name @user %></small>
    </h2>
    <hr/>

    <h4>O mne:</h4><br>

    <p>
      <%= @user.about %>
    </p>

  </div>
</div>
