<% provide :title, t('user.forgotten_password') %>

<section>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1 class="form-title"><%= yield :title %></h1>

      <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: :'form-control' %>
        </div>

        <button type="submit" class="btn btn-info btn-lg"><%= t('user.reset_password') %></button>
      <% end %>
    </div>
  </div>
</section>

<%= render 'devise/shared/links' %>
