<%= form_for resource, as: :user, url: shared.profile_users_path(tab: tab), html: { method: :patch } do |f| %>
  <%= form_messages_for resource, key: tab %>

  <div class="form-group">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <%= f.reversed_check_box :show_name, checked: !resource.show_name %>
        <%= Shared::User.human_attribute_name :hide_name %> <%= icon_tag resource.show_name ? :'square-o' : :check %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <%= f.reversed_check_box :show_email, checked: !resource.show_email %>
        <%= Shared::User.human_attribute_name :hide_email %> <%= icon_tag resource.show_email ? :'square-o' : :check %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :prefered_activity_tab %>
    <%= f.select :prefered_activity_tab, [[t('user.edit.prefered_activity_tab.all'), 'all'], [t('user.edit.prefered_activity_tab.followed_categories'), 'followed_categories']], {}, class: 'form-control' %>
  </div>

  <button type="submit" class="btn btn-success"><%= t('user.save_account') %></button>
<% end %>
