<%= form_for resource, as: :user, url: shared.profile_users_path(tab: tab), html: { method: :patch } do |f| %>
  <%= form_messages_for resource, key: tab %>

  <div class="form-group">
    <%= f.label :nick %>
    <%= f.text_field :nick, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :gravatar_email %>
    <%= f.text_field :gravatar_email, class: :'form-control' %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.label :first %>
    <%= f.text_field :first, class: :'form-control', disabled: cannot?(:change_name, resource) %>
  </div>

  <div class="form-group">
    <%= f.label :last %>
    <%= f.text_field :last, class: :'form-control', disabled: cannot?(:change_name, resource) %>
  </div>

  <br/>

  <div class="form-group">
    <%= markdown_editor_for resource, text: Shared::User.human_attribute_name(:about), help: false do %>
      <%= f.text_area :about, class: :'form-control markdown-editor-buttons', rows: Shared::Configuration.textarea_rows.general %>
    <% end %>
  </div>

  <button type="submit" class="btn btn-success"><%= t('user.save_account') %></button>
<% end %>
