<%= form_for resource, as: :user, url: shared.profile_users_path(tab: tab), html: { method: :patch, id: :edit_user_notifications } do |f| %>
  <%= form_messages_for resource, key: tab %>

  <div class="form-group icheck">
    <label>
      <%= f.check_box :send_email_notifications, checked: resource.send_email_notifications, data: { as: :icheck } %>
      <%= Shared::User.human_attribute_name :send_email_notifications %>
    </labeL>
  </div>

  <div class="form-group icheck">
    <label>
      <%= f.check_box :send_facebook_notifications, checked: resource.send_facebook_notifications || resource.send_facebook_notifications.nil?, data: { as: :icheck } %>
      <%= Shared::User.human_attribute_name :send_facebook_notifications %>
    </labeL>
  </div>

    <div class="form-group">
      <%= f.label :send_mail_notifications_frequency %>
      <%= f.select :send_mail_notifications_frequency, [[t('user.edit.notifications_frequency.daily'), 'daily'], [t('user.edit.notifications_frequency.instantly'), 'instantly']], {}, class: 'form-control' %>
      <div class="help-block"><em><%= t('user.edit.notifications_frequency.help').html_safe %></em></div>
    </div>

    <button type="submit" class="btn btn-success"><%= t('user.save_account') %></button>
<% end %>
