<%= form_for resource, as: :user, url: shared.profile_users_path(tab: tab), html: { method: :patch, id: :edit_user_preferences } do |f| %>
  <%= form_messages_for resource, key: tab %>

  <% if Shared::Configuration.enable.hide_name %>
    <div class="form-group icheck">
      <label>
        <%= f.reversed_check_box :show_name, checked: !resource.show_name, data: { as: :icheck } %>
        <%= Shared::User.human_attribute_name :hide_name %>
      </label>
    </div>
  <% end %>

  <% if Shared::Configuration.enable.hide_email %>
    <div class="form-group icheck">
      <label>
        <%= f.reversed_check_box :show_email, checked: !resource.show_email, data: { as: :icheck } %>
        <%= Shared::User.human_attribute_name :hide_email %>
      </label>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :prefered_activity_tab %>
    <%= f.select :prefered_activity_tab, [[t('user.edit.prefered_activity_tab.all'), 'all'], [t('user.edit.prefered_activity_tab.followed_categories'), 'followed_categories']], {}, class: 'form-control' %>
  </div>

  <button type="submit" class="btn btn-success"><%= t('user.save_account') %></button>
<% end %>
