<%= form_for resource, as: :user, url: shared.profile_users_path(tab: tab), html: { method: :patch, id: :edit_user_social } do |f| %>
  <%= form_messages_for resource, key: tab %>
  <div class="wrap-social">
    <% Shared::Social.highlighted_networks.each do |_, network| %>
      <%= render 'social_network_input', form_field: f, network: network %>
    <% end %>
    <div id="more-social" class="collapse">
      <% Shared::Social.suppressed_networks.each do |_, network| %>
        <%= render 'social_network_input', form_field: f, network: network %>
      <% end %>
    </div>
  </div>
  <button type="submit" class="btn btn-success"><%= t('user.save_account') %></button>
  <a type="submit" class="btn btn-primitive btn-sm" data-target="#more-social" data-toggle="collapse" data-collapse-after="hide"><%= t('user.more_social') %></a>
<% end %>
