<%= form_for resource, as: :user, url: shared.profile_users_path(tab: tab), html: { method: :patch } do |f| %>
  <%= form_messages_for resource, key: tab %>

  <div class="form-group">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <%= f.check_box :send_email_notifications, checked: resource.send_email_notifications %>
        <%= Shared::User.human_attribute_name :send_email_notifications %> <%= icon_tag resource.send_email_notifications ? :check : :'square-o' %>
      </label>
    </div>
  </div>


  <div class="form-group">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <%= f.check_box :send_facebook_notifications, checked: resource.send_facebook_notifications || resource.send_facebook_notifications.nil? %>
        <%= Shared::User.human_attribute_name :send_facebook_notifications %> <%= icon_tag resource.send_facebook_notifications || resource.send_facebook_notifications.nil? ? :check : :'square-o' %>
      </label>
    </div>
  </div>

    <div class="form-group">
      <%= f.label :send_mail_notifications_frequency %>
      <%= f.select :send_mail_notifications_frequency, [[t('user.edit.notifications_frequency.daily'), 'daily'], [t('user.edit.notifications_frequency.instantly'), 'instantly']], {}, class: 'form-control' %>
      <div class="help-block"><%= t('user.edit.notifications_frequency.help').html_safe %></div>
    </div>

    <button type="submit" class="btn btn-success"><%= t('user.save_account') %></button>
<% end %>
