<% if can? :delete, deletable %>
  &middot;

  <a href="#" id="<%= "#{model}-#{deletable.id}-delete-modal" %>" class="text-muted text-undecorated" data-toggle="modal" data-target="#<%= identify deletable, :deleting %>">
    <%= tooltip_icon_tag :'trash-o', t("#{model}.delete.action"), placement: :top %>
  </a>

  <div id="<%= identify deletable, :deleting %>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title"><%= t "#{model}.delete.title" %></h3>
        </div>
        <div class="modal-body">
          <%= t "#{model}.delete.text" %>
        </div>
        <div class="modal-footer">
          <%= form_for deletable, method: :delete, html: { id: nil, class: nil }, url: Shared::ApplicationController.config.relative_url_root.to_s + engine_url_helpers(deletable).public_send("#{model}_path", deletable), remote: remote ||= false do %>
            <a href="#" class="btn btn-default" data-dismiss="modal"><%= t "#{model}.delete.cancel" %></a>
            <button id="<%= "#{model}-#{deletable.id}-delete" %>" class="btn btn-danger"><%= t "#{model}.delete.submit" %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
