<% if current_user %>
  <% unless current_user.facebook_uid %>
    <%= session[:facebook_modal] = true %>
    <div class="modal fade" id="facebook_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only"><%= t('facebook.close') %>></span>
            </button>
            <h4 class="modal-title"> <%= t('facebook.title') %> </h4>
          </div>
          <div class="modal-body">
            <%= link_to t('facebook.join'), '/auth/facebook', id: 'sign_in' %>
            <%= t('facebook.benefit') %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('facebook.close') %></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
