<a href="#" data-target="#answer-<%= answer.id %>-edit" data-toggle="modal">
  <%= t('answer.update.action') %>
</a>

<div class="modal fade" id="answer-<%= answer.id %>-edit" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [question, answer] do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t'answer.update.title' %></h4>
        </div>
        <div class="modal-body">
          <%= markdown_editor_for answer do %>
            <%= f.text_area :text, class: :'form-control', rows: 5 %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t'edit.cancel' %></button>
          <button type="submit" class="btn btn-primary"><%= t'edit.save' %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
