<div id="answer-<%= answer.id %>-labeling" class="answer-labeling">
  <div class="answer-labeling-best">
    <% if current_user == answer.question.author %>
      <% if answer.labeled_by? current_user, :best %>
        <%= icon_link_to :check, nil, label_answer_path(answer, value: :best), data: { remote: true }, class: :'answer-labeled-best' %>
      <% else %>
        <%= icon_link_to :check, nil, label_answer_path(answer, value: :best), data: { remote: true } %>
      <% end %>
    <% elsif answer.best? %>
      <span><%= icon_tag :check %></span>
    <% end %>
  </div>

  <% unless answer.labelings.with(:best).exists? %>
    <div class="answer-labeling-helpful">
      <% if answer.labeled_by? current_user, :helpful %>
        <%= icon_link_to :'lightbulb-o', nil, label_answer_path(answer, value: :helpful), data: { remote: true }, class: :'answer-labeled-helpful' %>
      <% else %>
        <%= icon_link_to :'lightbulb-o', nil, label_answer_path(answer, value: :helpful), data: { remote: true } %>
      <% end %>

  <!-- TODO(zbell) rm
      <% if answer.labeled_with(:helpful).size > 0 %>
        <span class="text-muted"><%= answer.labeled_with(:helpful).size %></span>
      <% end %>
  -->
    </div>
  <% end %>
</div>
