<div id="answer-<%= answer.id %>-labeling" class="answer-labeling">

  <!-- TODO(zbell) implement -->
  <div class="answer-labeling-best">
    <% if current_user == answer.question.author %>
      <%= icon_link_to :check, nil, '#' %>
    <% elsif answer.best? %>
      <span><%= icon_tag :check %></span>
    <% end %>
  </div>

  <div class="answer-labeling-helpful">
    <% if answer.labeled_by? current_user, :helpful %>
      <%= icon_link_to :'lightbulb-o', nil, label_answer_path(answer, value: :helpful), data: { remote: true }, class: :'answer-labeled-helpful' %>
    <% else %>
      <%= icon_link_to :'lightbulb-o', nil, label_answer_path(answer, value: :helpful), data: { remote: true } %>
    <% end %>

    <% if answer.labeled_with(:helpful).size > 0 %>
      <span class="text-muted"><%= answer.labeled_with(:helpful).size %></span>
    <% end %>
  </div>
</div>
