<li>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
          <%= content_tag :span, class: [:'answer-metric', answer_votes_coloring(answer)] do %>
            <span class="answer-metric-value"><%= answer.votes_difference %></span>
            <%= t('count.vote', count: answer.votes_difference) %>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= content_tag :span, class: [:'answer-metric', answer_evaluations_coloring(answer)] do %>
            <span class="answer-metric-value"><%= answer.evaluations.size %></span>
            <%= t('count.evaluation', count: answer.evaluations.size) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="question-preview">
        <h4>
          <%= link_to_answer answer, length: 60 %>
          <small class="pull-right"><%= tooltip_time_tag answer.created_at, format: :normal, placement: :bottom %></small>
        </h4>

        <div class="answer-content">
          <%= answer_text_preview answer, length: 80 %>
        </div>
      </div>
    </div>
  </div>
</li>
