<p>
  <%= t('user.registered_at') %> <%= tooltip_time_tag user.created_at, format: :normal, placement: :bottom %>,
  <%= t('user.last_sign_in_at').downcase_first %> <%= tooltip_time_tag user.current_sign_in_at || user.last_sign_in_at, format: :normal, placement: :bottom %>
</p>

<hr/>

<% unless user.about.blank? %>
  <%= render_markdown user.about %>
<% end %>
