<div class="user-profile-avatar">
  <%= user_avatar_tag user, image: { class: 'img-responsive', size: 263 }, url: gravatar_url(user.gravatar_email, size: 400) %>
</div>

<h1 class="user-profile-title">
  <%= user.nick %>
  <% if can? :show_name, user %>
    <small><%= user.name %></small>
  <% end %>
</h1>

<ul class="user-profile-details">
  <% if can? :show_email, user %>
    <li>
      <%= icon_tag :'envelope-o', fixed: true %>
      <%= mail_to user.email, nil, encode: :hex %>
    </li>
  <% end %>

  <% user.urls.each do |network, url| %>
    <li>
      <%= icon_tag network.icon, fixed: true %>
      <a href="<%= url[:original] %>"><%= url[:shown] %></a>
    </li>
  <% end %>

  <li>
    <%= icon_tag :'clock-o', fixed: true %> <%= t 'user.registered_at' %>
    <%= time_tag user.created_at.to_date, format: :normal %>
  </li>
</ul>

<div class="user-profile-metrics">
  <div class="row">
    <div class="col-md-4">
      <%= link_to user_followings_path(params.except(:page).merge(tab: :followers)), class: :'user-metric' do %>
        <span class="user-metric-value"><%= user.followers.size %></span>
        <%= t('count.follower', count: user.followers.size) %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to user_path(params.except(:page).merge(tab: :favorites)), class: :'user-metric' do %>
        <span class="user-metric-value"><%= user.favorites.size %></span>
        <%= t('count.favorite', count: user.favorites.size) %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to user_followings_path(params.except(:page).merge(tab: :followees)), class: :'user-metric' do %>
        <span class="user-metric-value"><%= user.followees.size %></span>
        <%= t('count.followee', count: user.followees.size) %>
      <% end %>
    </div>
  </div>
</div>
