<% provide :title, t('administration.navigation') %>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked pill-navigation">
      <%= administration_link_tag t('administration.tab.categories'),     :categories,      administration_categories_path %>
      <%= administration_link_tag t('administration.tab.assignments'),    :assignments,     administration_assignments_path %>
      <%= administration_link_tag t('administration.tab.changelogs'),     :changelogs,      administration_changelogs_path %>
      <%= administration_link_tag t('administration.tab.news'),           :news,            administration_news_index_path %>
      <%= administration_link_tag t('administration.tab.emails'),         :emails,          administration_emails_path %>
      <%= administration_link_tag t('administration.tab.question_types'), :question_types,  administration_question_types_path %>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="pill-content tab-content">
      <%= yield %>
    </div>
  </div>
</div>
