<% provide(:title, t('tag.index.title')) %>

<%= render 'searchables/search', target: controller_name %>

<ul class="nav nav-tabs tab-navigation">
  <%= tab_link_tag_with_count t('tag.tab.all'), :all, tags_path(params.except(:page).merge tab: :all), @tags.count, analytics_attributes(:tags, :switch, :all) %>
  <%= tab_link_tag_with_count t('tag.tab.recent'), :recent, tags_path(params.except(:page).merge tab: :recent), @tags.recent.count, analytics_attributes(:tags, :switch, :recent) %>
  <%= tab_link_tag_with_count t('tag.tab.popular'), :popular, tags_path(params.except(:page).merge tab: :popular), @tags.popular.load.size, analytics_attributes(:tags, :switch, :popular) %>
</ul>

<div class="tab-content">
  <%= render_tab_content 'tags', :all, locals: { tags: @tags } %>
  <%= render_tab_content 'tags', :recent, locals: { tags: @tags.recent } %>
  <%= render_tab_content 'tags', :popular, locals: { tags: @tags.popular } %>
</div>
