<% provide(:title, t('tag.index.title')) %>



<section id="tags-controls">
  <ul class="nav nav-tabs">
    <%= tab_link_tag_with_count t('tag.tab.all'), :'tags-all', tags_path(params.except(:page).merge tab: :'tags-all'), Tag.count %>
    <%= tab_link_tag_with_count t('tag.tab.new'), :'tags-new', tags_path(params.except(:page).merge tab: :'tags-new'), Tag.count %>
    <%= tab_link_tag_with_count t('tag.tab.popular'), :'tags-popular', tags_path(params.except(:page).merge tab: :'tags-popular'), Tag.count %>
  </ul>

    <ul class="list-unstyled">
      <li class="category-group">
        <% @tags.each_slice(3) do |tags| %>
            <div class="row">
              <% tags.each do |tag| %>
                <div class="col-md-4">
                  <h4><%= link_to tag.name, questions_path(tags: tag.name) %></h4>
                  <p class="text-muted">
                    <%= t('count.question', count: tag.count).upcase_first %> <%= tag.count %> &middot;
                  </p>
                </div>
              <% end %>
            </div>
        <% end %>
      </li>
    </ul>
</section>
