<a href="#" id="assignment-<%= category.id %>-create-modal" class="text-muted text-undecorated" data-toggle="modal" data-target="#assignment-<%= category.id %>-create">
  <%= tooltip_icon_tag :edit, t('administration.assignment.new.action'), placement: :top %>
</a>

<div id="assignment-<%= category.id %>-create" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for assignment, url: administration_assignments_path(assignment) do |f| %>
          <div class="modal-header">
            <div class="form-group">
              <%= f.label :user_id %>
              <%= f.collection_select :user_id, User.all.order(:login), :id, :login, { include_blank: true }, { class: :'form-control', data: { as: :select2} } %>
            </div>

            <%= category.id %>

            <div class="form-group">
              <%= f.label :role_id %>
              <%= f.collection_select :role_id, Role.all.order(:name), :id, :name, { include_blank: true }, { class: :'form-control', data: { as: :select2} } %>
            </div>

            <%= f.hidden_field :category_id, :value => category.id %>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'administration.assignment.new.cancel' %></button>
              <button type="submit" class="btn btn-primary"><%= t 'administration.assignment.new.submit' %></button>
            </div>

          </div>
      <% end %>
    </div>
  </div>
</div>
