<li id="dropdown-notification-<%= notification.id %>" class="dropdown-notification">
  <div class="row <%= notification.read? ? 'notification-read' : '' %>">
    <div class="col-xs-1">
      <div class="pull-right" style="margin-right: -20px;">
        <%= link_to_notification(notification) do %>
            <%= notification_icon_tag notification %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-10">
      <%= link_to_notification(notification) do %>
          <%= strip_links(notification_content notification).html_safe  %>
      <% end %>
      <div class="dropdown-notification-info">
        <small><span class="text-muted"><%= link_to_user notification.initiator_or_anonymous %> &middot; </span><%= tooltip_time_tag notification.created_at, class: :'text-muted', format: :normal, placement: :bottom %></small>
      </div>
    </div>

    <div class="col-xs-1">
      <% if notification.unread? %>
          <%= link_to shared.read_notification_path(notification, params: { tab: params[:tab] }), tooltip_attributes(t('notification.read.submit'), placement: :bottom).deep_merge(class: 'btn btn-default btn-xs pull-right', data: { remote: true }) do %>
              <%= icon_tag :check %>
          <% end %>
      <% else %>
          <%= link_to shared.unread_notification_path(notification, params: { tab: params[:tab] }), tooltip_attributes(t('notification.unread.submit'), placement: :bottom).deep_merge(class: 'btn btn-primitive btn-xs pull-right text-muted', data: { remote: true }) do %>
              <%= icon_tag :check %>
          <% end %>
      <% end %>
    </div>
  </div>
</li>
