<% if notifications.any? %>
  <%= navbar_dropdown_tag :'dot-circle-o', notifications.unscope(:limit).size, '#', class: :'hidden-xs', join: :append do %>
    <li><%= link_to_notifications notifications %></li>
    <li class="divider"></li>
    <% notifications.each do |notification| %>
      <li class="dropdown-notification">
        <div class="row">
          <div class="col-xs-12">
            <%= link_to_notification(notification, delete: lambda { |body, _, _| link_to body, notifications_path(anchor: "notification-#{notification.id}") }) do %>
              <%= notification_icon_tag notification %>
              <span class="text-muted">&middot;</span>
              <%= user_icon_tag notification.initiator_or_anonymous, tooltip_attributes(user_nick(notification.initiator_or_anonymous), placement: :bottom).merge(link: false) %>
              <span class="text-muted">&middot;</span>
              <%= tooltip_time_tag notification.created_at, class: :'text-muted', format: :normal, placement: :bottom %>
            <% end %>
            <% if notification.unread? %>
              <%= link_to read_notification_path(notification, params: { tab: params[:tab] }), tooltip_attributes(t('notification.read.submit'), placement: :bottom).merge(class: 'btn btn-default btn-xs pull-right') do %>
                <%= icon_tag :check %>
              <% end %>
            <% else %>
              <%= link_to unread_notification_path(notification, params: { tab: params[:tab] }), tooltip_attributes(t('notification.unread.submit'), placement: :bottom).merge(class: 'btn btn-primitive btn-xs pull-right text-muted') do %>
                <%= icon_tag :check %>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to t('notification.clean.submit'), clean_notifications_path %></li>
    <li class="divider"></li>
    <li><%= link_to_notifications notifications, body: t('notification.more') %></li>
  <% end %>
<% else %>
  <li class="hidden-xs"><%= link_to_notifications notifications, body: icon_tag(:'circle-o') %></li>
<% end %>
