<% provide :title, t('user.session_start') %>

<section>
  <h1 class="form-title"><%= yield :title %></h1>

  <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :login %> <%= content_tag(:em, "(#{t('user.ais_login_notice')})") unless Configuration.enable.registrations? %>
      <%= f.text_field :login, autofocus: true, class: :'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: :'form-control' %>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg"><%= t('user.sign_in') %></button>

      <% if devise_mapping.rememberable? %>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primitive btn-sm">
            <%= f.check_box :remember_me %> <%= User.human_attribute_name :remember_me %> <%= icon_tag :blank %>
          </label>
        </div>
      <% end %>
    </div>
  <% end %>
</section>

<%= render 'devise/shared/links' %>
