<% provide(:sidebar, true) %>
<% provide(:title, t('changelog.index.title')) %>

<div class="row">
  <div class="col-xs-12 col-md-9" role="main">
    <h1 class="page-header"><%= yield :title %></h1>

    <p class="lead"><%= t 'changelog.index.introduction' %></p>

    <%= render 'shared/changelogs/changelogs', changelogs: @changelogs %>
  </div>

  <div class="col-md-3 hidden-xs hidden-sm hidden-print">
    <%= sidebar_tag do %>
      <ul class="nav">
        <% group_changelogs_by_latest(@changelogs).each do |latest, changelogs| %>
          <li>
            <%= link_to latest.version, "##{latest.identifier}", analytics_attributes(:changelogs, :scroll, latest.identifier) %>
            <% if changelogs.any? %>
              <ul class="nav">
                <% changelogs.select(&:title).each do |changelog| %>
                  <li>
                    <%= link_to changelog.version, "##{changelog.identifier}", analytics_attributes(:changelogs, :scroll, changelog.identifier) %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
