<% if news %>
  <div class="well news-well">
    <h4>
      <%= link_to news.title, news_index_path(tab: :'news')+"#news-#{news.id}" %>
      <% if current_user.dashboard_last_sign_in_at < news.created_at %>
          <sup>
            <div class="label label-success label-new-news">
              <%= t('home.dashboard.new_news') %>
            </div>
          </sup>
      <% end %>
    </h4>

    <div class="news-date">
      <small>
        <%= time_tag news.created_at.to_date, format: :default %>
      </small>
    </div>
    <div style="word-wrap: break-word">
      <%= render_markdown news.description %>
    </div>
  </div>
<% end %>

<%= icon_link_to :'newspaper-o', t('home.dashboard.all_news'), shared.news_index_path, class: 'btn btn-default col-xs-12' %>
