<% provide :title, t('administration.tab.changelogs') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @changelog, url: administration_changelogs_path(@changelog) do |f| %>
      <%= form_messages_for @changelog %>

      <div class="form-group">
        <%= f.label :version %>
        <%= f.text_field :version, class: :'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: :'form-control' %>
      </div>

      <div class="form-group">
        <%= markdown_editor_for @changelog do %>
          <%= f.text_area :text, class: :'form-control', rows: 5 %>
        <% end %>
      </div>

      <button type="submit" class="btn btn-success btn-lg"><%= t('administration.changelog.add') %></button>
    <% end %>
  </div>
</div>
