<div class="row">
  <div class="col-md-<%= help ? 4 : 12 %>">
    <ul id="<%= id %>" class="nav nav-tabs markdown-tabs" data-markdown="true">
      <li class="active">
        <a class="markdown-text" href="#<%= id %>-text" data-toggle="tab"><%= text ? text : t('markdown.text') %></a>
      </li>
      <li>
        <a class="markdown-preview" href="#<%= id %>-preview" data-toggle="tab"><%= t('markdown.preview') %></a>
      </li>
    </ul>
  </div>
  <% if help %>
    <div class="col-md-8">
      <span class="markdown-help pull-right">
        <%= t('markdown.documentation', link: external_link_to('GitHub Markdown', 'http://guides.github.com/overviews/mastering-markdown')).html_safe %>
      </span>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="<%= id %>-content" class="tab-content markdown-content">
      <div id="<%= id %>-text" class="tab-pane active"><%= content.call %></div>
      <div id="<%= id %>-preview" class="tab-pane"><div class="form-control"></div></div>
    </div>
  </div>
</div>
