<div class="row">
  <div class="col-md-4">
    <ul id="<%= id %>" class="nav nav-tabs markdown-tabs">
      <li class="active">
        <a class="markdown-text" href="#<%= id %>-text" data-toggle="tab"><%= t 'markdown.edit' %></a>
      </li>
      <li>
        <a class="markdown-preview" href="#<%= id %>-preview" data-toggle="tab"><%= t 'markdown.preview' %></a>
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <span class="markdown-help pull-right">
      <%= t('markdown.documentation', link: external_link_to('GitHub Markdown', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet')).html_safe %>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="<%= id %>-content" class="tab-content markdown-content">
      <div id="<%= id %>-text" class="tab-pane active"><%= content.call %></div>
      <div id="<%= id %>-preview" class="tab-pane"><div class="form-control"></div></div>
    </div>
  </div>
</div>
