<div class="row">
  <div class="col-md-12">
    <ul id="<%= id %>" class="nav nav-tabs markdown-tabs">
      <li class="active">
        <a class="markdown-text" href="#<%= id %>-text" data-toggle="tab"><%= t 'markdown.edit' %></a>
      </li>
      <li>
        <a class="markdown-preview" href="#<%= id %>-preview" data-toggle="tab"><%= t 'markdown.preview' %></a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="<%= id %>-content" class="tab-content markdown-content">
      <div id="<%= id %>-text" class="tab-pane active">
        <%= content.call %>
      </div>

      <div id="<%= id %>-preview" class="tab-pane well well-sm">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <span class="help-block pull-right">
      Text je spracovaný pomocou <%= external_link_to 'Github Markdown', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', icon: true %>
    </span>
  </div>
</div>
