<% if categories.any? %>
  <% categories.each do |category| %>
    <div>
      <h4>
        <%= link_to_category category, analytics_attributes(:category, :click, category.full_public_name) %>
        <% if category.has_teachers? %>
          <small><%= render partial: 'teacher_icon', locals: {category: category}, layout: false %></small>
        <% end %>
      </h4>

      <div class="category-description">
        <%= category.description %>
      </div>
      <div class="category-details">
        <%= t('count.question', count: category.questions.size).upcase_first %> <%= category.questions.size %> &middot;
        <%= t('count.answer', count: category.answers.size).upcase_first %> <%= category.answers.size %> &middot;
        <%= render 'watching', category: category %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-warning">
    <%= t('category.no_records') %>
  </div>
<% end %>
