<% categories = active_categories categories, questions_counts if tab == :active %>

<div class="row">
  <div class="col-xs-12 col-md-9" role="main">
    <div class="categories-tree">
      <%= tree_view(categories) do |category| %>
        <div id="<%= "#{tab.to_s}-#{category.id}" %>">
          <h4>
            <%= link_to_category category, analytics_attributes(:category, :click, category.name) %>
            <% if category.has_teachers? %>
                <%= render partial: 'teacher_icon', locals: {category: category}, layout: false %>
            <% end %>
          </h4>
          <% unless category.description.blank? %>
            <div class="category-description">
              <%= category.description %>
            </div>
          <% end %>
          <div class="category-details">
            <%= t('count.question', count: questions_counts[category.id] || 0).upcase_first %> <%= questions_counts[category.id] || 0 %> &middot;
            <%= t('count.answer', count: answers_counts[category.id] || 0).upcase_first %> <%= answers_counts[category.id] || 0 %> &middot;
            <%= render 'shared/watchables/watching', model: :category, watchable: category %>
          </div>
        </div>
      <% end %>
    </div>

    <% if categories.empty? %>
      <div class="alert alert-warning">
        <%= t('category.no_records') %>
      </div>
    <% end %>
  </div>

  <div class="col-md-3 hidden-xs hidden-sm hidden-print" style="z-index: 100">
    <%= sidebar_tag do %>
      <h3><%= t 'category.navigation' %></h3>
      <ul class="nav">
        <% visible_depth = Shared::CategoryDepth.visible_depths.first %>
        <% categories.each do |category| %>
          <% if category.depth == visible_depth %>
            <li>
              <%= link_to category.name, "##{tab.to_s}-#{category.id}", analytics_attributes(:categories, :scroll, category.id) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

