<% provide(:title, t('category.index.title')) %>

<%= render 'shared/searchables/search', target: controller_name %>

<ul class="nav nav-tabs tab-navigation">
  <%= tab_link_tag_with_count t('category.tab.all'), :all, categories_path(params.symbolize_keys.except(:page).merge tab: :all), @context_categories.size - 1, analytics_attributes(:categories, :switch, :all) %>
  <%= tab_link_tag_with_count t('category.tab.active'), :active, categories_path(params.symbolize_keys.except(:page).merge tab: :active), active_categories(@context_categories, @questions_counts).size - 1, analytics_attributes(:categories, :switch, :active) %>
</ul>

<div class="tab-content">
  <%= render_tab_content 'categories', :all, locals: { categories: @context_categories, questions_counts: @questions_counts, answers_counts: @answers_counts, tab: :all } %>
  <%= render_tab_content 'categories', :active, locals: { categories: @context_categories, questions_counts: @questions_counts, answers_counts: @answers_counts, tab: :active } %>
</div>
