<% if current_user.facebook_uid.blank? %>
  <div id="facebook-joining" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h2 class="modal-title"><%= icon_tag :facebook, fixed: true %> <%= t('facebook.join.title') %></h2>
        </div>
        <div class="modal-body">
          <%= link_to t('facebook.join.message'), shared.auth_facebook_path %>
          <%= t('facebook.join.benefit') %><br/>
          <small class="text-muted"><%= t('facebook.join.note') %></small>
        </div>
        <div class="modal-footer">
          <%= link_to t('facebook.join.submit'), shared.auth_facebook_path, class: 'btn btn-success popup', data: { width: 600, height: 400 } %>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('facebook.join.close') %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
