<%= form_messages key: tab %>

<% if watchings.any? %>
  <ol class="watchings">
    <%= render partial: 'watching', collection: watchings, as: :watching %>
  </ol>

  <%= render 'clean', model: tab.to_s.singularize %>

  <%= paginate watchings, params: { tab: tab } %>
<% else %>
  <div class="alert alert-info">
    <%= t 'watching.none' %>
  </div>
<% end %>
