<li id="watching-<%= watching.id %>">
  <div class="row">
    <div class="col-xs-10">
      <%= watchable_icon_tag watching.watchable %>
      <%= watchable_content watching.watchable %>
    </div>
    <div class="col-xs-2">
      <%= form_for watching, method: :delete, html: { id: nil, class: :'pull-right' } do %>
        <button class="btn btn-default btn-xs"><%= icon_tag :'eye-slash' %> <%= t 'watching.delete.submit' %></button>
      <% end %>
    </div>
  </div>
</li>
