<% provide :title, t('administration.navigation') %>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked pill-navigation">
      <%= tab_link_tag t('administration.tab.categories'),  :categories,  administration_root_path(tab: :categories),  data: { toggle: :pill } %>
      <%= tab_link_tag t('administration.tab.assignments'), :assignments, administration_root_path(tab: :assignments), data: { toggle: :pill } %>
      <%= tab_link_tag t('administration.tab.changelogs'),  :changelogs,  administration_root_path(tab: :changelogs),  data: { toggle: :pill } %>
      <%= tab_link_tag t('administration.tab.emails'),      :emails,      administration_root_path(tab: :emails),      data: { toggle: :pill } %>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="pill-content tab-content">
      <%= render_tab_content 'administration/categories/categories',   :categories,  locals: { categories:  @categories } %>
      <%= render_tab_content 'administration/assignments/assignments', :assignments, locals: { assignments: @assignments } %>
      <%= render_tab_content 'administration/changelogs/changelogs',   :changelogs,  locals: { changelogs:  @changelogs } %>
      <%= render_tab_content 'administration/emails/emails',           :emails %>
    </div>
  </div>
</div>
