<%= form_messages key: tab %>

<%= render 'shared/administration/categories/form', category: @category, categories: categories, tab: tab %>

<ol class="administration-categories">
  <% categories.each do |category| %>
    <li>
      <div class="row">
        <div class="col-xs-4">
          <%= link_to_category category %>
        </div>

        <div class="col-xs-7">
          <% category.tags.each do |tag| %>
            <span class="label label-inverse"><%= tag %></span>
          <% end %>
        </div>

        <div class="col-xs-1">
          <div class="pull-right">
            <%= render 'shared/administration/categories/editing', category: category, tab: tab %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ol>
