<%= form_messages key: tab %>

<%= render 'shared/administration/categories/form', category: @category, categories: categories, tab: tab %>

<% content_for :categories_header do %>
    <th></th>
    <th></th>
    <th>
      <%= fa_icon :group, tooltip_attributes(t 'activerecord.attributes.shared/category.shared') %>
    </th>
    <th>
      <%= fa_icon :question, tooltip_attributes(t 'activerecord.attributes.shared/category.askable') %>
    </th>
    <th></th>
<% end %>

<div class="administration-categories">
  <%= render 'shared/administration/categories/update_settings' %>

  <%= tree_table(categories, yield(:categories_header)) do |category| %>
    <td>
      <%= link_to_category category, tooltip_attributes(category.full_public_name).merge(target: '_blank') %>
    </td>

    <td>
      <% category.tags.each do |tag| %>
        <span class="label label-inverse"><%= tag %></span>
      <% end %>
    </td>

    <td>
      <%= check_box_tag 'shared[]', category.id, category.shared, tooltip_attributes(t 'activerecord.attributes.shared/category.shared').merge({class: 'treetable-checkbox'}) %>
    </td>

    <td>
      <%= check_box_tag 'askable[]', category.id, category.askable, tooltip_attributes(t 'activerecord.attributes.shared/category.askable').merge({class: 'treetable-checkbox'}) %>
    </td>

    <td>
      <div class="pull-right">
        <%= fa_icon 'plus-circle', tooltip_attributes(t 'administration.category.create.action').merge({class: 'text-success add-category', data: {id: category.id, uuid: category.uuid}}) %>
        <%= render 'shared/administration/categories/editing', category: category, tab: tab %>
      </div>
    </td>
  <% end %>

  <%= render 'shared/administration/categories/update_settings' %>
</div>
