<td>
  <%= link_to_category category, tooltip_attributes(category.full_public_name).merge(target: '_blank') %>
</td>

<td>
  <% category.tags.each do |tag| %>
    <span class="label label-inverse"><%= tag %></span>
  <% end %>
</td>

<td>
  <%= check_box_tag 'shared[]', category.id, category.shared, tooltip_attributes(t 'activerecord.attributes.shared/category.shared').merge({class: 'treetable-checkbox'}) %>
</td>

<td>
  <%= check_box_tag 'askable[]', category.id, category.askable, tooltip_attributes(t 'activerecord.attributes.shared/category.askable').merge({class: 'treetable-checkbox'}) %>
</td>

<td>
  <%= check_box_tag 'visible[]', category.id, category.visible, tooltip_attributes(t 'activerecord.attributes.shared/category.visible').merge({class: 'treetable-checkbox'}) %>
</td>

<td>
  <%= check_box_tag 'copied[]', category.id, category.copied, tooltip_attributes(t 'activerecord.attributes.shared/category.copy').merge({class: 'treetable-checkbox'}) %>
</td>

<td>
  <div class="pull-right">
    <a href="<%= shared.new_administration_category_path({ parent_id: category.id, uuid: category.uuid }) %>" class="text-success text-undecorated">
      <%= tooltip_icon_tag 'plus-circle', t('administration.category.create.action') %>
    </a>
    <a href="<%= shared.edit_administration_category_path category %>" class="text-muted text-undecorated">
      <%= tooltip_icon_tag :edit, t('administration.category.edit.action'), placement: :top %>
    </a>
  </div>
</td>
