<%= form_for @category, url: [:administration, @category] do |f| %>
  <%= form_messages_for @category %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description, t('administration.category.create.description') %>
    <%= f.text_area :description, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :third_party_hash, t('administration.category.create.third_party_hash') %>
    <%= f.text_field :third_party_hash, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tags %>
    <%= f.text_field :tags, value: @category.tags.join(','), class: :'form-control', data: { as: :select2, role: :tags } %>
  </div>

  <div class="form-group">
    <%= f.label :uuid %>
    <%= f.text_field :uuid, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :parent_id, t('administration.category.create.parent') %>
    <%= f.category_collection_select :parent_id, Shared::Category.order(:depth, :name).all, :id, :full_tree_name, {grouped: false}, {role: :categories} %>
  </div>

  <% if Rails.module.mooc? %>
    <div class="form-group">
      <%= f.label :teacher_assistants %>
      <%= f.collection_select(:teacher_assistant_ids, Shared::User.all, :id, :nick, {selected: @category.teacher_assistants.map(&:id), include_blank: true}, {class: 'form-control', multiple: true , data: { as: :select2 } }) %>
    </div>
  <% end %>

  <div class="checkbox">
    <label>
      <%= f.check_box :shared %>
      <%= t 'activerecord.attributes.shared/category.shared' %>
    </label>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :askable %>
      <%= t 'activerecord.attributes.shared/category.askable' %>
    </label>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :visible %>
      <%= t 'activerecord.attributes.shared/category.visible' %>
    </label>
  </div>

  <button type="submit" class="btn btn-success"><%= button %></button>
<% end %>
