<div id="document-content">
  <a href="<%= university.index_document_questions_path(document_id: @question.document.id) %>" data-remote="true" class="btn btn-sm btn-default">
    <%= icon_tag :list, label: t('question.list') %>
  </a>

  <h3 class="form-title"><%= t 'question.new.title' %></h3>

  <%= form_for question, remote: true do |f| %>
    <%= form_messages_for question %>

    <%= f.hidden_field :document_id %>

    <%= f.hidden_field :question_type_id, value: Shared::QuestionType.documents.first.id if Shared::QuestionType.documents.first %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: :'form-control' %>
    </div>

    <div class="form-group">
      <%= markdown_editor_for question do %>
        <%= f.text_area :text, class: :'form-control', rows: 5 %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :tag_list %>
      <ul id="question-category-tags" class="category-tags nav nav-labels">
        <!--TODO (jharinek) add group(document) tags-->
      </ul>
      <%= f.text_field :tag_list, class: :'form-control', data: { as: :select2, role: :tags }, placeholder: t('question.tag.placeholder') %>
    </div>

    <button type="submit" class="btn btn-primary"><%= t 'question.new.submit' %></button>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primitive btn-sm">
        <%= f.check_box :anonymous %> <%= Shared::Question.human_attribute_name :anonymous %> <%= icon_tag :'square-o' %>
      </label>
    </div>
  <% end %>
</div>
