<% provide(:title, t('category.index.title')) %>

<div class="row">
  <div class="col-md-12">
    <h1 class="page-header"><%= yield :title %></h1>

    <ul class="list-unstyled">
      <% group_categories_by_prefix(@categories).each do |_, group| %>
        <li class="category-group">
          <% group.each_slice(3) do |categories| %>
            <div class="row">
              <% categories.each do |category| %>
                <div class="col-md-4">
                  <h4><%= link_to category.name, questions_path(tags: category.tags.join(',')) %></h4>
  <!-- TODO(zbell) consider
                  <ul class="list-inline">
                    <% category.tags.each do |tag| %>
                      <li><%= link_to tag, questions_path(tags: tag) %></li>
                    <% end %>
                  </ul>
  -->
                  <p class="text-muted">
                    <%= t('count.question', count: category.questions.size).upcase_first %> <%= category.questions.size %> &middot;
                    <%= t('count.answer', count: category.answers.size).upcase_first %> <%= category.answers.size %>
                  </p>
                </div>
              <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
