<% provide :title, @group.title %>

<div id="group">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @group.title %></h1>

      <p><%= render_markdown @group.description %></p>

      <div class="group-details">
        <%= render 'university/groups/details',  group: @group %>
        <%= render 'university/groups/deleting', group: @group %>
        <%= render 'university/groups/editing',  group: @group %>
      </div>
    </div>
  </div>
</div>

<div class="new-document-form">
  <%= render 'university/documents/form' %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="documents-group" id="documents">
      <% @documents.each do |document| %>
        <%= render 'university/documents/document', document: document, group: @group %>
      <% end %>
    </div>

    <%= paginate @documents %>
  </div>

  <div class="col-md-6">
    <div id="document-content"></div>
  </div>
</div>
