<% provide :title, title(@status, @title) %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="error-title text-center">
        <%= @status %> <%= @title %>
      </h1>

      <p class="error-description text-center">
        <%= t('unicorn.message') %><br/>
        <span class="muted"><%= @description %></span>
      </p>
    </div>

    <div class="col-md-6">
      <img class="unicorn" src="<%= asset_path('shared/unicorn.png') %>" alt="<%= t('unicorn.title') %>" />
    </div>
  </div>
</div>
