<h1><%= t 'teacher_administration.category.index.title' %></h1>
<div id="copy-categories-parent-id"></div>

<% content_for :categories_header do %>
  <th></th>
  <th></th>
  <th>
    <%= fa_icon :question, tooltip_attributes(t 'activerecord.attributes.shared/category.askable') %>
  </th>
  <th>
    <%= fa_icon :eye, tooltip_attributes(t 'activerecord.attributes.shared/category.visible') %>
  </th>
  <th class="text-center"><%= t 'teacher_administration.category.create.action' %></th>
  <th class="text-center"><%= t 'teacher_administration.category.edit.action' %></th>
<% end %>

<div class="administration-categories">
  <%= render 'mooc/teacher_administration/categories/update_settings' %>

  <%= tree_table(@categories, yield(:categories_header)) do |category| %>
    <%= render 'mooc/teacher_administration/categories/category', category: category %>
  <% end %>

  <%= render 'mooc/teacher_administration/categories/update_settings' %>
</div>
