<%= render 'shared/user_mailer/header' %>

<h4 class="title">Prehľad Vašich notifikácií od <%= time_tag @from, format: :normal %></h4>

<ol class="notifications">
  <% @notifications.each do |notification| %>
    <li>
      <%= notification_content notification, absolute_url: true %>

      <span class="text-muted">&middot;</span>

      <%= link_to_user notification.initiator_or_anonymous, absolute_url: true %>
      <span class="text-muted">&middot;</span>
      <%= time_tag notification.created_at, class: 'text-muted', format: :normal %>
    </li>
  <% end %>
</ol>

<% if @user.send_mail_notifications_frequency == 'instantly' && Shared::Notifications::Utility.unread_notifications_in_interval(@user).any? %>
  <p class="text-muted">
    Tieto notifikácie sme Vám poslali s oneskorením (<%= Shared::Configuration.mailer.notification_delay %> hodiny) od posledného e-mailu s notifikáciami.
    <br/>
    Nechceme Vás spamovať, keďže ste si ešte nestihli prečítať predchádzajúce notifikácie za posledných <%= Shared::Configuration.mailer.check_unread_notifications_hours %> hodín.
  </p>
<% end %>

<p>
  <%= link_to "Zobraziť neprečítané notifikácie", shared.notifications_url(tab: :unread) %>
  <span class="text-muted">&middot;</span>
  <%= link_to "Zrušiť odoberanie notifikácii alebo zmeniť ich frekvenciu", shared.edit_user_registration_url(tab: :notifications) %>
</p>

<%= render 'shared/user_mailer/footer' %>
