<%= form_for @category, url: administration_categories_path(@category, tab: tab) do |f| %>
  <%= form_messages_for @category %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tags %>
    <%= f.text_field :tags, :value => "", class: :'form-control', data: { as: :select2, role: :tags } %>
  </div>

  <button type="submit" class="btn btn-success"><%= t('administration.category.create.action') %></button>
<% end %>
