<div class="user-profile-bar">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-2 col-md-offset-0 col-md-2">
      <%= user_avatar_tag user, image: { class: :'img-circle img-responsive', size: 96 } %>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10">
      <h1>
        <%= link_to_user user %>
        <% if can? :show_name, user %>
          <small><%= user.name %></small>
        <% end %>
      </h1>

      <small class="user-profile-bar-details">
        <%= t('count_x.question', count: user.questions.where(anonymous: false).size) %> <span>&middot;</span>
        <%= t('count_x.answer', count: user.answers.size) %> <span>&middot;</span>
        <%= t('count_x.comment', count: user.comments.size) %> <span>&middot;</span>
        <%= t('user.registered_at', time: time_tag(user.created_at.to_date, format: :short)).downcase_first.html_safe %>
      </small>
    </div>
  </div>
</div>
