<li>
  <div class="row">
    <div class="col-xs-5">
      <%= link_to_category assignment.category, {}, assignment.category.full_tree_name %>
    </div>

    <div class="col-xs-3">
      <%= link_to_user assignment.user %>
      <span class="text-muted">(<%= assignment.user.login %>)</span>
    </div>

    <div class="col-xs-3">
      <%= assignment.role.name %>
      <span class="text-muted">(<%= assignment.user.role %>)</span>
    </div>

    <div class="col-xs-1">
      <div class="pull-right">
        <%= render 'shared/administration/assignments/editing', assignment: assignment %>
        <span class="text-muted">&middot;</span>
        <%= render 'shared/administration/assignments/deleting', assignment: assignment %>
      </div>
    </div>
  </div>
</li>
