<a href="#" id="assignment-<%= assignment.id %>-edit-modal" class="text-muted text-undecorated" data-toggle="modal" data-target="#assignment-<%= assignment.id %>-deleting">
  <%= tooltip_icon_tag :'trash-o', t('administration.assignment.delete.action'), placement: :top %>
</a>

<div id="assignment-<%= assignment.id %>-deleting" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><%= t 'administration.assignment.delete.title' %></h3>
      </div>
      <div class="modal-body">
        <%= t 'administration.assignment.delete.text' %>
      </div>
      <div class="modal-footer">
        <%= form_for assignment, method: :delete, html: { id: nil, class: nil }, url: shared.administration_assignment_path(assignment) do %>
          <a href="#" class="btn btn-default" data-dismiss="modal"><%= t 'administration.assignment.delete.cancel' %></a>
          <button id="<%= "assignment-delete" %>" class="btn btn-danger"><%= t 'administration.assignment.delete.submit' %></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
