<a href="#" id="assignment-<%= assignment.id %>-edit-modal" class="text-muted text-undecorated" data-toggle="modal" data-target="#assignment-<%= assignment.id %>-editing">
  <%= tooltip_icon_tag :edit, t('administration.assignment.edit.action'), placement: :top %>
</a>

<div id="assignment-<%= assignment.id %>-editing" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><%= t 'administration.assignment.edit.title' %></h3>
      </div>
      <%= form_for assignment, url: shared.administration_assignment_path(assignment) do |f| %>
        <div class="modal-body">
          <%= render 'shared/administration/assignments/form_body', f: f, id: assignment.id %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <%= t 'administration.assignment.edit.cancel' %>
          </button>
          <button type="submit" class="btn btn-primary">
            <%= t 'administration.assignment.edit.submit' %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
