<li>
  <div class="row">
    <div class="col-xs-4">
      <% unless user.assignments.size.zero? %>
        <%= icon_tag :check, class: :'text-success' %>
        <span class="text-muted">(<%= user.assignments.size %>)</span>
      <% end %>
    </div>

    <div class="col-xs-4">
      <%= link_to_user user %>
      <span class="text-muted">(<%= user.login %>)</span>
    </div>

    <div class="col-xs-4">
      <span class="text-muted"><%= user.role %></span>
    </div>
  </div>
</li>
