<li id="notification-<%= notification.id %>">
  <div class="row">
    <div class="col-xs-8">
      <%= notification_icon_tag notification %>
      <%= notification_content notification %>
    </div>
    <div class="col-xs-3">
      <%= user_icon_tag notification.initiator_or_anonymous, tooltip_attributes(user_nick(notification.initiator_or_anonymous), placement: :bottom).deep_merge(image: { muted: notification.read }) %>
      <%= tooltip_time_tag notification.created_at, class: :'text-muted', format: :normal, placement: :bottom %>
    </div>
    <div class="col-xs-1">
      <% if notification.unread? %>
        <%= link_to shared.read_notification_path(notification, params: { tab: params[:tab] }), tooltip_attributes(t('notification.read.submit'), placement: :bottom).merge(class: 'btn btn-default btn-xs pull-right') do %>
          <%= icon_tag :check %>
        <% end %>
      <% else %>
        <%= link_to shared.unread_notification_path(notification, params: { tab: params[:tab] }), tooltip_attributes(t('notification.unread.submit'), placement: :bottom).merge(class: 'btn btn-primitive btn-xs pull-right') do %>
          <%= icon_tag :check %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
