<% provide :title, t('notification.index.title') %>

<div class="tab-navigation">
  <% if @unread.any? %>
    <div class="pull-right">
      <%= link_to shared.clean_notifications_path, class: 'btn btn-default' do %>
        <%= icon_tag :check %>
        <%= t 'notification.clean.submit' %>
      <% end %>
    </div>
  <% end %>

  <ul class="nav nav-tabs">
    <li class="active"><%= link_to t('notification.navigation'), shared.notifications_path %></li>
    <li><%= link_to t('watching.navigation'), watchings_path %></li>
  </ul>
</div>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked pill-navigation">
      <%= pill_link_tag_with_count t('notification.tab.unread'), :unread, shared.notifications_path(tab: :unread), badge_tag(Shared::Notification.in_context(@context).for(current_user).unread.size, class: :'pull-right'), analytics_attributes(:notifications, :switch, :unread) %>
      <%= pill_link_tag_with_count t('notification.tab.all'), :all, shared.notifications_path(tab: :all), badge_tag(Shared::Notification.in_context(@xontext).for(current_user).size, class: :'pull-right'), analytics_attributes(:notifications, :switch, :all) %>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="pill-content tab-content">
      <%= render_tab_content 'notifications', :unread, locals: { notifications: @unread } %>
      <%= render_tab_content 'notifications', :all, locals: { notifications: @all } %>
    </div>
  </div>
</div>
