<%= form_for assignment, url: administration_assignments_path(assignment, tab: tab) do |f| %>
  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.category_collection_select :category_id %>
  </div>

  <div class="form-group">
    <%= f.label :user_nick %>
    <%= f.text_field :user_nick, class: :'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :role_id %>
    <%= f.role_collection_select :role_id %>
  </div>

  <button type="submit" class="btn btn-success"><%= t('administration.assignment.create.action') %></button>
<% end %>
