<%= yield :footer %>

<footer>
  <div class="container">
    <div class="list-center">
      <ul>
        <li><%= external_link_to t('footer.about'), url_to_site('#about') %></li>
        <li><%= external_link_to t('footer.documents'), url_to_site('#documents') %></li>
        <li><%= external_link_to t('footer.repositories'), url_to_site('#repositories') %></li>
        <li><%= external_link_to t('footer.authors'), url_to_site('#authors') %></li>
        <li><%= external_link_to t('footer.contact'), url_to_site('#contact') %></li>
        <li><%= external_link_to t('footer.help'), help_path %></li>
      </ul>
    </div>

    <hr/>

    <div class="list-center">
      <ul>
        <li><span>Copyright <%= Time.now.year %></span></li>
        <li><a class="text-capital" href="<%= url_to_organization %>">na&#x042f;uby</a></li>
        <li><%= link_to Askalot::VERSION::STRING, url_to_repository("releases/tag/v#{Askalot::VERSION::STRING}") %></li>
      </ul>
    </div>
  </div>
</footer>
