<%= yield :footer %>

<footer>
  <div class="container">
    <ul class="list-inline text-muted">
      <li><%= external_link_to t('footer.about'), url_to_site('#about'), { :'data-track-label' => "About-project-link", :'data-track-category' => "Footer", :'data-track-action' => "Click" } %></li>
      <li><%= external_link_to t('footer.documents'), url_to_site('#documents'), { :'data-track-label' => "Documentation-link", :'data-track-category' => "Footer", :'data-track-action' => "Click" } %></li>
      <li><%= external_link_to t('footer.repositories'), url_to_site('#repositories'), { :'data-track-label' => "Source-code-link", :'data-track-category' => "Footer", :'data-track-action' => "Click" } %>
      <li><%= external_link_to t('footer.authors'), url_to_site('#authors'), { :'data-track-label' => "Authors-link", :'data-track-category' => "Footer", :'data-track-action' => "Click" } %></li>
      <li><%= external_link_to t('footer.contact'), url_to_site('#contact'), { :'data-track-label' => "Contacts-link", :'data-track-category' => "Footer", :'data-track-action' => "Click" } %></li>
      <li><%= link_to t('footer.help'), help_path %></li>    
    </ul>

    <p class="text-muted">
      Copyright <%= Time.now.year %> <span class="text-capital">na&#x042f;uby</span>
      &middot; <%= Askalot::VERSION::STRING %>
    </p>
  </div>
</footer>
