<header id="header-navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
<!-- TODO(zbell) uncomment -->
<!--
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
-->
      <%= navbar_logo_tag default_title %>
    </div>
    <div class="collapse navbar-collapse"><!-- TODO(zbell) use hidden-xs -->
      <ul class="nav navbar-nav">
        <li><%= link_to t('question.navigation'), questions_path %></li>
        <li><%= link_to t('user.navigation'), nil %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.nick, user_path(current_user.nick) %></li>
          <%= navbar_dropdown_tag :'cog', nil, '#' do %>
            <li><%= link_to t('user.edit.profile'), edit_user_registration_path(tab: :'user-profile') %></li>
            <li><%= link_to t('user.edit.social'),  edit_user_registration_path(tab: :'user-social') %></li>
            <li><%= link_to t('user.edit.privacy'), edit_user_registration_path(tab: :'user-privacy') %></li>
            <li><%= link_to t('user.edit.account'), edit_user_registration_path(tab: :'user-acount') %></li>
            <li class="divider"></li>
            <li><%= link_to t('user.sign_out'), destroy_user_session_path, method: :delete %></li>
          <% end %>
        <% else %>
          <% if Configuration.show.registrations? %>
            <li><%= link_to t('user.sign_up'), new_user_registration_path %></li>
          <% end %>
          <li><%= link_to t('user.sign_in'), new_user_session_path %></li>
        <% end %>
      </ul>
      <div class="navbar-form navbar-right">
        <%= icon_link_to :'question-circle', nil, new_question_path, class: 'btn btn-primary', 'data-placement' => :left, 'data-toggle' => :tooltip, title: t('question.new.feature') %>
      </div>
    </div>
  </div>
</header>

<%= yield :header %>
