<header id="header-navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <%= navbar_logo_tag default_title %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <p class="navbar-text">
            <%= t('user.signed_in_as', login: current_user.login) %>
          </p>
          <%= navbar_dropdown_tag :'caret-down', current_user.email, '#', join: :append do %>
            <li><%= icon_link_to :heart, t('user.profile'), user_path(current_user.login) %></li>
            <li><%= icon_link_to :cog, t('user.settings'), edit_user_registration_path %></li>
            <li><%= icon_link_to :signout, t('user.sign_out'), destroy_user_session_path, method: :delete %></li>
          <% end %>
        <% else %>
          <li><%= icon_link_to :leaf, t('user.sign_up'), new_user_registration_path %></li>
          <li><%= icon_link_to :signin, t('user.sign_in'), new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<%= yield :header %>
