<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= resolve_title yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: :all %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/fixes' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
  </body>
</html>
