<%= yield :footer %>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="list-left">
          <ul>
            <li><%= link_to t('footer.about'), url_to_site('#about') %></li>
            <li><%= link_to t('footer.authors'), url_to_site('#authors') %></li>
            <li><%= link_to t('footer.contact'), url_to_site('#contact') %></li>
            <li><%= link_to t('footer.changelogs'), shared.changelogs_path %></li>
            <li><%= link_to t('footer.help'), shared.help_path %></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <div class="list-right">
          <ul>
            <li><span>Copyright <%= Time.now.year %></span></li>
            <li><a class="text-capital" href="<%= url_to_organization %>">na&#x042f;uby</a></li>
            <li><a class="text-capital" href="<%= "http://teamasked.github.io/" %>">AskEd</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</footer>
